<%- layout("Boilerplate/boilerplate") %>

<link
  rel="stylesheet"
  href="/Stylesheets/USER INTERFACE EXPERIENCE SERVICES/user-interface-experience-services-styles.css"
/>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<%- include('../../Solutions-Card/solutionsCard.ejs') %>
<div class="user-interface-experience-services-container">
  <div class="hero d-g">
    <div class="hero-title">
      <h3 class="bold-text text-white">
        <span class="text-title-color">UI/UX</span>
        DESIGN SERVICES IN CANADA
      </h3>
      <p class="text-white">
        Streamlined Experiences Through a Leading UI/UX Design Service Provider
        in Toronto, Ontario
      </p>
      <a href="/become-client" class="get-started-btn-lg text-white"
        >Get Started</a
      >
    </div>
    <div class="hero-image">
      <img
        src="https://www.creativesquad.ca/images/web_creatives/ui_ux_hero.webp"
        alt="..."
      />
    </div>
  </div>

  <div class="user-interface-experience-services-carousel">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/aws.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/azure.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/gib_data.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/gcp.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/sql.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/hadoop.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/python.png"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="user-interface-experience-services-intro">
    <div class="intro-header">
      <h3 class="bold-text">
        EXCEPTIONAL
        <span class="text-title-color">UI & UX DESIGN SERVICES</span> FOR
        BUSINESSES
      </h3>
      <p>We offer a wide range of design serivces, including:</p>
    </div>
    <div class="intro-main d-g">
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
      <div class="card">
        <div class="card-image"><img src="" alt="" /></div>
        <div class="card-subtitle">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/Javascripts/USER INTERFACE EXPERIENCE SERVICES/user-interface-experience-services-js/services.js"></script>
