:root {
  /* Colors */
  --normal-clr-accent: #cb1212;
  --hover-clr-accent: #bd0f0f;
  --muted-clr-accent: #3d3d3d;
  --card-red-bg: #d11413;
  --section-bg: #f9f9f9;

  /* Shadows */
  --card-shadow: 0 4px 20px hsla(0, 0%, 52%, 0.3);

  /* Typography */

  --bebas-neue-font: "Bebas Neue", sans-serif;
  --mulish-font: "Mulish", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;

  /* Sizes */
  --size-5xs: 0.075rem;
  :0.125rem ;
  --size-3xs: 0.25rem;
  --size-2_5xs: 0.4rem;
  --size-2xs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-2_5xl: 1.65rem;
  --size-3xl: 1.875rem;
  --size-3_5xl: 2rem;
  --size-4xl: 2.25rem;
  --size-4_5xl: 2.55rem;
  --size-5xl: 3rem;
  --size-5_5xl: 3.35rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-7_5xl: 5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-9_5xl: 9rem;
  --size-10xl: 10rem;
  --size-10_5xl: 11rem;
  --size-11xl: 12rem;
  --size-12xl: 14rem;
  --size-13xl: 16rem;
  --size-14xl: 18rem;
  --size-15xl: 20rem;
  --size-16xl: 22rem;
  --size-17xl: 24rem;
  --size-18xl: 26rem;
  --size-19xl: 28rem;
  --size-20xl: 30rem;
  --size-21xl: 32rem;
  --size-22xl: 34rem;
  --size-23xl: 36rem;
  --size-24xl: 38rem;
  --size-25xl: 40rem;
}

body {
  font-family: var(--poppins-font);
}

img,
svg,
picture,
video {
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img[alt] {
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--montserrat-font);
}

[class*="section-"] {
  padding-top: var(--size-5xl);
  padding-bottom: var(--size-5xl);

  &:nth-child(2) {
    padding-top: 0;
  }

  &:first-child {
    padding-top: 0;
    padding-bottom: var(--size-2xl);
  }
}

.seo-only,
.spinner {
  display: none;
}

.full-width {
  width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  background-color: white;
}

.trustpilot-section {
  padding-top: 200px;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn-sm,
.btn-md,
.btn-invert {
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-sm,
.btn-md {
  background-color: var(--normal-clr-accent);
  border: 2px solid var(--normal-clr-accent);
  color: white;

  &:hover {
    background-color: var(--hover-clr-accent);
    border-color: var(--hover-clr-accent);
  }
}

.btn-sm,
.btn-invert {
  padding: 6px 20px;
}
.btn-md {
  padding: 8px 25px;
}
.btn-invert {
  color: var(--normal-clr-accent);
  border: 2px solid var(--normal-clr-accent);

  &:hover {
    background-color: var(--normal-clr-accent);
    color: white;
  }
}

/* Disable Selection Globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* CUSTOMIZING SCROLLBAR */

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #bebdbd;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #000;
}

/* >= 475px */
/* @media (min-width: 475px) {} */

/* >= 576px */
/* @media (min-width: 576px) {} */

/* >= 768px */
/* @media (min-width: 768px) {} */

/* >= 1024px */
/* @media (min-width: 1024px) {} */

/* >= 1260px */
/* @media (min-width: 1260px) {} */

/* >= 1400px */
/* @media (min-width: 1400px) {} */
