# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node.js (if using JS/React/Node)
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Environment files
.env
.env.local

# Build / dist files
dist/
build/
out/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencies / caches
*.pyc
__pycache__/
.cache/
