<div class="about-business-container d-g">
  <div class="about-business-title">
    <h1 class="bold-text">
      DIVERSE PORTFOLIO OF <br />
      <span class="text-title-color">THRIVING B2B & B2C BUSINESS</span>
    </h1>
    <p>
      Over the years, Creative Squad has had the privilege of partnering with
      diverse industries. We have left our mark on numerous sectors, from
      e-commerce giants to healthcare providers, hospitals to educational
      institutions.
    </p>
    <div class="specialization-container">
      <div class="specialization-column-1">
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_sport.png"
            alt="..."
          />
          <label>Professional Sports</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_construction.png"
            alt="..."
          />
          <label>Construction</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_healthcare.png"
            alt="..."
          />
          <label>Healthcare</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_hospitality.png"
            alt="..."
          />
          <label>Hospitality</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_realestate.png"
            alt="..."
          />
          <label>Real Estate</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_education.png"
            alt="..."
          />
          <label>Education</label>
        </div>
      </div>
      <div class="specialization-column-2">
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_automotive.png"
            alt="..."
          />
          <label>Automotive</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_technology.png"
            alt="..."
          />
          <label>Technology</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_ecommerce.png"
            alt="..."
          />
          <label>E-commerce</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_finance.png"
            alt="..."
          />
          <label>Finance</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_retail.png"
            alt="..."
          />
          <label>Retail</label>
        </div>
        <div class="specialization">
          <img
            src="https://www.creativesquad.ca/images/icons/portfolio_legal.png"
            alt="..."
          />
          <label>Legal</label>
        </div>
      </div>
    </div>
  </div>
  <div class="about-business-image">
    <img
      src="https://www.creativesquad.ca/images/creatives/about-img-1.webp"
      alt="..."
    />
  </div>
</div>
