<div class="case-studies-container text-center">
  <h6 class="bold-text text-title-color">CASE STUDIES</h6>
  <h3 class="bold-text text-title-size">
    PREVIEW FROM OUR <span class="text-title-color">PORTFOLIO</span>
  </h3>
  <div class="slider-container">
    <div class="slider">
      <div class="slide-track d-f">
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734104206009-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>
                Revitalizing Digital Marketing for PhysioTec Rehab & Wellness
              </p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103764829-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>Habster Boutique’s E-Commerce Revamp</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103482235-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>Inner Find’s Digital Transformation</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103180748-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>
                Driving Sales with Optimized Google Ads for Fully Promoted
                Heartland
              </p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>

        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734102941258-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>
                Driving Sales with Optimized Google Ads for Fully Promoted
                Meadowville
              </p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734101468252-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>
                Driving Sales with Optimized Google Ads for Fully Promoted
                Richmond Hill
              </p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734100654262-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>Strengthening Personal Branding for Raj Kalsi Real Estate</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734100227582-Thumbnail.jpg"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>Social Media &amp; SEO Transformation for Graha Chaal</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734101063699-Thumbnail.jpg"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>SWO &amp; Google Ads Revamp For Tutor Docter</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
        <div class="slide">
          <a href="#">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734098952230-Thumbnail.webp"
            />
            <div class="case-study-text text-title-color text-center bold-text">
              <p>Comprehensive Marketing Boost for Triplets Homes</p>
            </div>
            <a href="#" class="view-case-study text-center bold-text"
              >View Case Study <span><i class="fas fa-arrow-right"></i></span
            ></a>
          </a>
        </div>
      </div>
    </div>
    <a
      href="#"
      class="explore-case-studies-btn bold-text text-center text-title-color"
      >Explore All <i class="fas fa-arrow-right"></i
    ></a>
  </div>
</div>
