<div class="FAQ-section">
  <div class="FAQ-heading">
    <h6 class="text-title-size bold-text">
      FREQUENTLY ASKED
      <span class="text-title-color">QUESTIONS</span>
    </h6>
  </div>
  <div class="FAQs">
    <div class="FAQ-item">
      <button class="FAQ-question bold-text d-f">
        Why should I hire a Canadian digital marketing company?
        <span id="icon-1" class="FAQ-icon text-title-color">+</span>
      </button>
      <div class="FAQ-answer">
        Hiring a digital marketing company offers several advantages. They have
        the expertise and knowledge of the local market, allowing them to tailor
        strategies that resonate with the target audience in the region.
      </div>
    </div>

    <div class="FAQ-item">
      <button class="FAQ-question bold-text d-f">
        How can a digital marketing company help my business grow?
        <span id="icon-2" class="FAQ-icon text-title-color">+</span>
      </button>
      <div class="FAQ-answer">
        A digital marketing company can help your business grow by implementing
        targeted strategies that attract qualified leads, boost brand
        visibility, and improve conversions.
      </div>
    </div>

    <div class="FAQ-item">
      <button class="FAQ-question bold-text d-f">
        How do I choose the right digital marketing company in Canada?
        <span id="icon-3" class="FAQ-icon text-title-color">+</span>
      </button>
      <div class="FAQ-answer">
        When selecting a digital marketing company, consider factors such as
        their experience, reputation, client portfolio, and range of services
        offered.
      </div>
    </div>

    <div class="FAQ-item">
      <button class="FAQ-question bold-text d-f">
        How do you measure the success of digital marketing company?
        <span id="icon-4" class="FAQ-icon text-title-color">+</span>
      </button>
      <div class="FAQ-answer">
        We employ various key performance indicators (KPIs) such as website
        traffic, conversion rates, engagement metrics, and ROI to gauge the
        effectiveness of our strategies.
      </div>
    </div>
  </div>
  <div class="connect-prompt">
    <img src="https://www.creativesquad.ca/images/faqs_people.png" alt="..." />
    <p class="bold-text">Still have questions?</p>
    <p>
      Can't find the answer you're looking for?<br />
      Let's Connect.
    </p>
  </div>
</div>
<div class="reviews-container d-f bg-white">
  <div class="reviews-heading">
    <h6 class="text-title-size bold-text">
      TRUST WE'VE <span class="text-title-color">EARNED</span>
    </h6>
    <p class="bold-text">WHAT OUR CLIENTS SAY ABOUT US</p>
  </div>
  <div class="rating-image">
    <img
      src="https://www.creativesquad.ca/images/web_creatives/google_reviews2.png"
      alt="..."
    />
  </div>
  <div class="rating-button">
    <a href="#" class="text-title-color bold-text">SEE MORE</a>
  </div>

  <div class="reviews">
    <div class="slider-container">
      <div class="slider">
        <div class="slide-track-reviews d-f">
          <!-- REPEATED 1ST TIME -->

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_louay.png"
                alt="..."
              />
              <label>Louay Nouneh</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                I have been working with Creative Squad for quite some time now.
                The team is proactive and they are on top of my social media
                activities. I thank in particular Salman for his patience and
                understanding to the complicity of my business. Him and his team
                are great people to work with and I strongly recommend his
                agency for any media services.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_robbin.png"
                alt="..."
              />
              <label>Robin d'souza</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Excellent service. They take their time to understand the
                customers need and then tailor their service to address the
                customer requirements. Highly recommended.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_jack.png"
                alt="..."
              />
              <label>Jack Abrams</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Sal and his team at Creative Squad were amazing to work with on
                our new custom e-Commerce store. He worked with us to define our
                requirements and to understand our business and collaborated
                with us over a few weeks to get to where we were very pleased
                with the design, navigation and store functionality. I highly
                recommend Sal and his team. Jack Abrams, Owner, TRU Off Grid.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_tonya.png"
                alt="..."
              />
              <label>Tonya R. Allison</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                The team of creative squad has really done a great job in making
                my social media advertisements more active, engaging and
                effective. My sales have been boosting up since then. A big
                shoutout to them for giving out the high quality services as per
                their promise.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_andreabosco.png"
                alt="..."
              />
              <label>Andrea Bosco</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Creative Squad Inc. is a great social media agency. They have
                innovative strategies, eye-catching designs great customer
                service. They have a passion for helping businesses grow their
                online presence and connect with their target audience in
                meaningful ways. We are very happy with our results working with
                them and look forward to seeing further growth together!
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_truckdriving.png"
                alt="..."
              />
              <label>National Truck Driving School</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                We were looking for a reputable online marketing company when we
                came across Creative Squad. Sal's approach to his clients
                reflects his genuine desire to help you meet your business ROI
                goals. He is very patient with you as he works through the
                details, and he keeps his word to his clients regarding not only
                the timeframe but, more importantly, the outcome of their
                services. They are very professional and knows what they are
                doing. Much love Creative Squad team!
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_truelife.png"
                alt="..."
              />
              <label>True Life Wellness and Physiotherapy</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                I am working with Salman from Creative Squad. He is helping to
                redesign our clinic website. Salman and his team have handled
                all the design and development concepts. This has made the
                entire process stress free. I would definitely recommend Salman
                if you need a new website.
              </p>
            </div>
          </div>
          <!-- REPEATED 2ND TIME -->

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_louay.png"
                alt="..."
              />
              <label>Louay Nouneh</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                I have been working with Creative Squad for quite some time now.
                The team is proactive and they are on top of my social media
                activities. I thank in particular Salman for his patience and
                understanding to the complicity of my business. Him and his team
                are great people to work with and I strongly recommend his
                agency for any media services.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_robbin.png"
                alt="..."
              />
              <label>Robin d'souza</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Excellent service. They take their time to understand the
                customers need and then tailor their service to address the
                customer requirements. Highly recommended.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_jack.png"
                alt="..."
              />
              <label>Jack Abrams</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Sal and his team at Creative Squad were amazing to work with on
                our new custom e-Commerce store. He worked with us to define our
                requirements and to understand our business and collaborated
                with us over a few weeks to get to where we were very pleased
                with the design, navigation and store functionality. I highly
                recommend Sal and his team. Jack Abrams, Owner, TRU Off Grid.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_tonya.png"
                alt="..."
              />
              <label>Tonya R. Allison</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                The team of creative squad has really done a great job in making
                my social media advertisements more active, engaging and
                effective. My sales have been boosting up since then. A big
                shoutout to them for giving out the high quality services as per
                their promise.
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_andreabosco.png"
                alt="..."
              />
              <label>Andrea Bosco</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                Creative Squad Inc. is a great social media agency. They have
                innovative strategies, eye-catching designs great customer
                service. They have a passion for helping businesses grow their
                online presence and connect with their target audience in
                meaningful ways. We are very happy with our results working with
                them and look forward to seeing further growth together!
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_truckdriving.png"
                alt="..."
              />
              <label>National Truck Driving School</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                We were looking for a reputable online marketing company when we
                came across Creative Squad. Sal's approach to his clients
                reflects his genuine desire to help you meet your business ROI
                goals. He is very patient with you as he works through the
                details, and he keeps his word to his clients regarding not only
                the timeframe but, more importantly, the outcome of their
                services. They are very professional and knows what they are
                doing. Much love Creative Squad team!
              </p>
            </div>
          </div>

          <div class="review-slide">
            <div class="review-image">
              <img
                class="main-image"
                src="https://www.creativesquad.ca/images/icons/review_truelife.png"
                alt="..."
              />
              <label>True Life Wellness and Physiotherapy</label>
              <img
                class="star-image"
                src="https://www.creativesquad.ca/images/icons/customerstars.svg"
                alt="..."
              />
            </div>
            <div class="review-info">
              <p>
                I am working with Salman from Creative Squad. He is helping to
                redesign our clinic website. Salman and his team have handled
                all the design and development concepts. This has made the
                entire process stress free. I would definitely recommend Salman
                if you need a new website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
