<div class="container">
  <div class="result-container">
    <div class="context">
      <h6 class="title-for-results bold-text text-title-size">
        HOW WE PROVIDE
        <span class="title-for-results-span text-title-color">RESULTS</span>
      </h6>
      <p class="context-for-results mt-4">
        We don't just talk strategy – we deliver real results, proven by the
        success stories of our amazing clients. We take pride in building
        long-term partnerships and tailoring our strategies to each client's
        unique goals. We understand the unique needs and landscape of the
        Canadian market, giving you a strategic edge.
      </p>
    </div>

    <div class="cards-container d-f">
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/roi_icon1.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">INNOVATIVE IDEAS</h6>
        <p>
          Explore a wide range of groundbreaking and creative ideas to enhance
          your digital media endeavors.
        </p>
      </div>
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/roi_icon2.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">PERSONALIZED SOLUTIONS</h6>
        <p>
          Receive customized and bespoke digital marketing and web solutions
          designed specifically for your individual business requirements.
        </p>
      </div>
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/roi_icon3.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">ROI FOCUSED</h6>
        <p>
          Achieve a laser-focused approach on return on investment (ROI),
          utilizing strategies that deliver tangible and quantifiable outcomes.
        </p>
      </div>
    </div>
  </div>

  <div class="testimonials-cards-container d-f">
    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/U1USZs8AoQ0"
        title="Another Success Stories - TRU Off Grid #clienttestimonial #happyclient"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">TRU OFF GRID</h5>
      <p>Their satisfaction motivates us</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="#" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/L_thYvisr8s"
        title="See why clients trust Digital Benders to drive their business forward."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">EMPOWERMENT PROJECT</h5>
      <p>Proud to highlight our client's journey</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/emRxmtX9FNE"
        title="Client Success Story: Transforming Visions into Results with Digital Benders"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe
      ><br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">MEADOWS EQUINE</h5>
      <p>Proud to highlight our client's journey</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
