<div class="video-bg">
  <video class="video" autoplay muted loop>
    <source
      src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1722700626770-video.mp4"
      type="video/mp4"
    />
  </video>
</div>

<h1 class="main-title bold-text text-center text-white mb-3">
  <span class="main-title-span text-title-color">ELEVATING</span><br />
  BUSINESSES DIGITALLY
</h1>

<h5 class="main-title-desc SM-font-size text-center text-white mb-5">
  YOUR TRUSTED PARTNERS FOR
  <span class="main-title-desc-span bold-text text-title-color"
    >DIGITAL MEDIA SOLUTIONS</span
  >
</h5>

<div class="slider-container">
  <div class="slider">
    <div class="slide-track-badges d-ib">
      <!-- Repeated 1st Time -->

      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/124.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/362.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1021.png"
          />
        </a>
      </div>
      <!-- Repeated 2nd Time -->

      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/124.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/362.png"
          />
        </a>
      </div>
      <div class="slide d-ib">
        <a href="#">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1021.png"
          />
        </a>
      </div>
    </div>
  </div>
</div>
