<div class="more-about-company">
  <h5 class="more-about-company-title bold-text text-title-size mb-5">
    CUSTOMIZED DIGITAL MEDIA <br />
    <span class="more-about-company-title-span text-title-color"
      >SOLUTIONS FOR YOUR BUSINESS GOALS</span
    >
  </h5>

  <div class="more-about-business-btns bold-text bg-white d-f mb-5">
    <button class="business-btn d-flex">Custom Development</button>
    <button class="business-btn d-flex">Digital Marketing</button>
    <button class="business-btn d-flex">App Development</button>
    <button class="business-btn d-flex">Creative Services</button>
    <button class="business-btn d-flex">Marketing Strategy</button>
  </div>

  <div class="info-holder mt-3">
    <div class="container-of-info d-f" style="display: none" id="btn1">
      <img
        src="https://www.creativesquad.ca/images/creatives/BG_web.webp"
        class="solutions-main-image"
        alt="..."
      />
      <div class="info">
        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">RESPONSIVE UI/UX DESIGNS</label>
          <p class="info-holder-text">
            Our designers are well-versed in responsive designs to ensure
            seamless experience across devices.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">SEO-FRIENDLY SITE</label>
          <p class="info-holder-text">
            Our web development services include built-in SEO techniques to
            improve your visibility and ranking.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2"
            >CUSTOMIZED WEB DEVELOPMENT</label
          >
          <p class="info-holder-text">
            We go extra mile to ensure your website is unique and tailored to
            your business needs & preferences.
          </p>
        </div>
      </div>
    </div>
    <div class="container-of-info d-f" style="display: none" id="btn2">
      <img
        src="https://www.creativesquad.ca/images/creatives/BG_digital.webp"
        class="solutions-main-image"
        alt="..."
      />
      <div class="info">
        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">DATA-DRIVEN INSIGHTS</label>
          <p class="info-holder-text">
            We utilize advanced tools for optimizing your digital marketing
            strategy for your target market.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">MEASURABLE RESULTS</label>
          <p class="info-holder-text">
            Our Digital Marketing strategies for businesses are designed to
            achieve your specific objectives.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">CUSTOMIZED APPROACH</label>
          <p class="info-holder-text">
            Our team crafts a personalized marketing strategy for companies
            specific to your needs.
          </p>
        </div>
      </div>
    </div>

    <div class="container-of-info d-f" style="display: none" id="btn3">
      <img
        src="https://www.creativesquad.ca/images/creatives/BG_app.webp"
        class="solutions-main-image"
        alt="..."
      />
      <div class="info">
        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2"
            >IOS, ANDROID, AND BACKEND DEVELOPMENT</label
          >
          <p class="info-holder-text">
            We take great satisfaction in offering quality app development
            services in Canada.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">INNOVATIVE SOLUTIONS</label>
          <p class="info-holder-text">
            We leverage the latest technologies and industry best practices to
            develop customized app solutions.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">LAUNCH AND MAINTENANCE</label>
          <p class="info-holder-text">
            We'll gather field information and refine it to achieve your
            business objectives.
          </p>
        </div>
      </div>
    </div>

    <div class="container-of-info d-f" style="display: none" id="btn4">
      <img
        src="https://www.creativesquad.ca/images/creatives/BG_creative.webp"
        class="solutions-main-image"
        alt="..."
      />
      <div class="info">
        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2"
            >ENGAGING AND MEMORABLE CAMPAIGNS</label
          >
          <p class="info-holder-text">
            We create immersive experiences that build brand awareness and drive
            conversions.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2"
            >COMPELLING CONTENT MARKETING</label
          >
          <p class="info-holder-text">
            Engage your audience with captivating and valuable content that
            drives brand awareness.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2"
            >INTEGRATED APPROACH FOR CONSISTENT MESSAGE</label
          >
          <p class="info-holder-text">
            By aligning the design, tone, and message, the team at Creative
            Squad create a unified brand experience.
          </p>
        </div>
      </div>
    </div>

    <div class="container-of-info d-f" style="display: none" id="btn5">
      <img
        src="https://www.creativesquad.ca/images/creatives/BG_marketing.webp"
        class="solutions-main-image"
        alt="..."
      />
      <div class="info">
        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">BRAND STRATEGY</label>
          <p class="info-holder-text">
            Build a compelling brand identity and connect with your target
            audience through our strategic approach.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">INTEGRATED COMMERCE</label>
          <p class="info-holder-text">
            Seamlessly blend online and offline omni channels to enhance
            customer satisfaction.
          </p>
        </div>

        <div class="more-info mb-4">
          <img
            src="https://www.creativesquad.ca/images/icons/list-item.svg"
            class="list-item-image"
            alt="..."
          />
          <label class="info-holder-label mb-2">PERFORMANCE MEDIA</label>
          <p class="info-holder-text">
            Maximize your advertising ROI with data-driven strategies to
            optimize targeting, creativity, and budgets.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
