<div class="recent-articles-container text-center">
  <h5 class="bold-text text-title-color">RECENT ARTICLES</h5>
  <h2 class="bold-text text-title-size">
    EVERY SINGLE UPDATE AND
    <span>STORY FROM OUR <span class="text-title-color">JOURNAL</span></span>
  </h2>
</div>
<div class="recent-articles">
  <div class="slider-container">
    <div class="slider">
      <div class="slide-track-articles d-f">
        <!-- REPEATED 1ST TIME -->

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1733517641561-Web%20Development%20and%20Design%20Services%20in%20Toronto.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>12/6/2024</label>
            <h3>
              Building a Strong Digital Presence: The Importance of Professional
              Web Development and Design Services
            </h3>
            <p>
              A business’s website is often the first point of contact between
              the company and potential customers. This makes web development
              and web design services not just important but absolutely
              essential for creating a strong online presence. A professio...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1736255854403-Search%20Engine%20Optimization.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>1/7/2025</label>
            <h3>
              Optimize Your Website for Success with Comprehensive Optimization
              Services
            </h3>
            <p>
              Your website is often the first impression customers have of your
              business. A well-designed website is crucial, but without
              optimization, even the most stunning site may fall short in
              driving traffic and achieving conversions. This is where websit...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1736257265315-Google+Advertising.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>1/7/2025</label>
            <h3>
              Harness the Power of Google Advertising: Your Guide to Local
              Success
            </h3>
            <p>
              Advertising on Google is more than just a marketing strategy—it's
              a necessity for businesses aiming to stay competitive. Whether
              you’re targeting a global audience or focusing on local customers,
              Google advertising offers tools and features to mat...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1739220540870-SEO%20Services%20in%20Canada.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>2/10/2025</label>
            <h3>
              Transform Your Online Presence with Expert Website Optimization
              Services
            </h3>
            <p>
              Your website is the face of your business. If it’s slow, outdated,
              or difficult to navigate, potential customers may leave before
              they even get to know your brand. That’s where website
              optimization services come into play. By improving the structu...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1739305508909-Ecommerce%20Development%20in%20Canada.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>2/11/2024</label>
            <h3>
              Elevate Your Online Store with a Leading Ecommerce Website
              Development Company
            </h3>
            <p>
              The ecommerce landscape is booming, making it essential for
              businesses to have a polished and functional online store. Whether
              you’re launching a new business or upgrading your existing
              website, collaborating with an ecommerce website development...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1744053147479-freepik__upload__43061.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>4/7/2025</label>
            <h3>The Rise of AI in SEO & Content Creation</h3>
            <p>
              These days, whenever we come across a question or any information
              is required about a product or service, we just turn to Google. We
              do it without thinking twice. As per an estimate, Google processes
              an astonishing 8.5 billion searches every singl...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1744055598105-freepik__upload__54644.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>4/7/2025</label>
            <h3>Best Frontend Frameworks in 2025: React, Vue, or Svelte?</h3>
            <p>
              When it comes to building a website, it is very necessary to keep
              in mind - the experience of the user. All the fancy features and
              functions you create should be easy for people to use easily. Your
              website should load quickly, be easy to navig...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <!-- REPEATED 2ND TIME -->

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1733517641561-Web%20Development%20and%20Design%20Services%20in%20Toronto.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>12/6/2024</label>
            <h3>
              Building a Strong Digital Presence: The Importance of Professional
              Web Development and Design Services
            </h3>
            <p>
              A business’s website is often the first point of contact between
              the company and potential customers. This makes web development
              and web design services not just important but absolutely
              essential for creating a strong online presence. A professio...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1736255854403-Search%20Engine%20Optimization.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>1/7/2025</label>
            <h3>
              Optimize Your Website for Success with Comprehensive Optimization
              Services
            </h3>
            <p>
              Your website is often the first impression customers have of your
              business. A well-designed website is crucial, but without
              optimization, even the most stunning site may fall short in
              driving traffic and achieving conversions. This is where websit...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1736257265315-Google+Advertising.jpg"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>1/7/2025</label>
            <h3>
              Harness the Power of Google Advertising: Your Guide to Local
              Success
            </h3>
            <p>
              Advertising on Google is more than just a marketing strategy—it's
              a necessity for businesses aiming to stay competitive. Whether
              you’re targeting a global audience or focusing on local customers,
              Google advertising offers tools and features to mat...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1739220540870-SEO%20Services%20in%20Canada.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>2/10/2025</label>
            <h3>
              Transform Your Online Presence with Expert Website Optimization
              Services
            </h3>
            <p>
              Your website is the face of your business. If it’s slow, outdated,
              or difficult to navigate, potential customers may leave before
              they even get to know your brand. That’s where website
              optimization services come into play. By improving the structu...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1739305508909-Ecommerce%20Development%20in%20Canada.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>2/11/2024</label>
            <h3>
              Elevate Your Online Store with a Leading Ecommerce Website
              Development Company
            </h3>
            <p>
              The ecommerce landscape is booming, making it essential for
              businesses to have a polished and functional online store. Whether
              you’re launching a new business or upgrading your existing
              website, collaborating with an ecommerce website development...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1744053147479-freepik__upload__43061.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>4/7/2025</label>
            <h3>The Rise of AI in SEO & Content Creation</h3>
            <p>
              These days, whenever we come across a question or any information
              is required about a product or service, we just turn to Google. We
              do it without thinking twice. As per an estimate, Google processes
              an astonishing 8.5 billion searches every singl...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>

        <div class="slide">
          <div class="slide-image">
            <img
              src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1744055598105-freepik__upload__54644.png"
              alt="..."
            />
          </div>
          <div class="slide-info">
            <label>4/7/2025</label>
            <h3>Best Frontend Frameworks in 2025: React, Vue, or Svelte?</h3>
            <p>
              When it comes to building a website, it is very necessary to keep
              in mind - the experience of the user. All the fancy features and
              functions you create should be easy for people to use easily. Your
              website should load quickly, be easy to navig...
            </p>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
