<div class="contact-section d-g text-white">
  <div class="idea-prompt d-f">
    <p style="margin-left: 5px">Let's Talk</p>
    <h6 class="text-title-size">
      Got An Idea?<br />
      <span class="bold-text">Let's get in touch!</span>
    </h6>
    <br />
    <p>
      Let's discuss your project and find out what we can do to provide value.
    </p>
  </div>
  <div class="submit-form d-f">
    <h6>Enter your details to get started.</h6>
    <form class="form" action="/">
      <input type="text" placeholder="Your Full Name" required />
      <input
        type="text"
        pattern="[\d\s\(\)]*"
        placeholder="Your Phone Number"
        required
      />
      <input type="email" placeholder="Your Email Address" required />
      <input type="text" placeholder="Enter Project Type" required />

      <div id="spinner-overlay" style="z-index: 9999">
        <div
          class="spinner-border spinner spinner-border-sm"
          role="status"
          style="display: none; margin: 0 0 15px 47px"
        ></div>
      </div>

      <button class="submit-btn bold-text">Submit</button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector(".form");
  const submitBtn = document.querySelector(".submit-btn");
  const spinner = document.querySelector(".spinner");

  const isFormFilled = (form) => {
    return Array.from(form.querySelectorAll("input")).every(
      (field) => field.value.trim() !== ""
    );
  };

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    // ✅ First check if form is filled
    if (!isFormFilled(form)) {
      Swal.fire({
        title: "Error!",
        text: "Please fill all the fields before submitting.",
        timer: 3000,
        icon: "error",
      });
      return;
    }

    // ✅ Disable button and show spinner
    submitBtn.disabled = true;
    submitBtn.classList.add("disabled");
    spinner.style.display = "inline-block";

    setTimeout(() => {
      spinner.style.display = "none";

      Swal.fire({
        title: "Message Sent Successfully!",
        text: "We will contact you within the next 24-48hrs.",
        timer: 3000,
        icon: "success",
      });

      // ✅ Re-enable button and reset form
      submitBtn.disabled = false;
      submitBtn.classList.remove("disabled");
      form.reset();
    }, 3000);
  });
</script>
