<div class="full-cycle-development-container">
  <h3 class="text-center bold-text text-title-size">
    FULL CYCLE DEVELOPMENT PROCESS <br />
    <span class="text-title-color">FOR INSPIRING ONLINE EXPERIENCES</span>
  </h3>
  <div class="development-btns-container d-f">
    <button class="development-btn">Strategic Planning</button>
    <span>></span>
    <button class="development-btn">Content Creation</button>
    <span>></span>
    <button class="development-btn">Performance Marketing</button>
    <span>></span>
    <button class="development-btn">Analytics</button>
    <span>></span>
    <button class="development-btn">Optimization</button>
  </div>
  <div class="development-cards-container d-f">
    <div id="card-1" class="whole-card">
      <div class="development-card">
        <div class="development-card-content">
          <h6>STRATEGIC PLANNING</h6>
          <p>
            Our design &amp; development team collaborates to understand your
            demands and users by lining them up with your company dynamics for
            an exceptional digital experience.
          </p>
          <a href="#">READ MORE</a>
        </div>
        <div class="development-card-image">
          <img
            src="https://www.creativesquad.ca/images/discover.webp"
            alt="..."
          />
        </div>
      </div>
      <div class="development-note text-white text-center d-f">
        <p>
          We put transparency and honesty first. Strong communication and a
          result-driven approach have always made it possible.
        </p>
        <a href="#" class="bold-text text-title-color">ABOUT US</a>
      </div>
    </div>

    <div id="card-2" class="whole-card">
      <div class="development-card">
        <div class="development-card-content">
          <h6>CONTENT CREATION</h6>
          <p>
            Our experienced content creators will develop a content strategy
            (website copy, blog articles, social media posts, or video scrip)
            tailored to your target audience and business objectives.
          </p>
          <a href="#">READ MORE</a>
        </div>
        <div class="development-card-image">
          <img
            src="https://www.creativesquad.ca/images/development.webp"
            alt="..."
          />
        </div>
      </div>
      <div class="development-note text-white text-center d-f">
        <p>
          We put transparency and honesty first. Strong communication and a
          result-driven approach have always made it possible.
        </p>
        <a href="#" class="bold-text text-title-color">ABOUT US</a>
      </div>
    </div>

    <div id="card-3" class="whole-card">
      <div class="development-card">
        <div class="development-card-content">
          <h6>PERFORMANCE MARKETING</h6>
          <p>
            To accelerate your online growth, we leverage paid advertising
            channels. Our digital advertising experts create highly targeted
            campaigns that maximize your return on investment (ROI).
          </p>
          <a href="#">READ MORE</a>
        </div>
        <div class="development-card-image">
          <img
            src="https://www.creativesquad.ca/images/testing.webp"
            alt="..."
          />
        </div>
      </div>
      <div class="development-note text-white text-center d-f">
        <p>
          We put transparency and honesty first. Strong communication and a
          result-driven approach have always made it possible.
        </p>
        <a href="#" class="bold-text text-title-color">ABOUT US</a>
      </div>
    </div>

    <div id="card-4" class="whole-card">
      <div class="development-card">
        <div class="development-card-content">
          <h6>ANALYTICS</h6>
          <p>
            We analyze the data to gain insights into user behavior and areas
            for improvement. We continuously optimize your campaigns to achieve
            your marketing objectives.
          </p>
          <a href="#">READ MORE</a>
        </div>
        <div class="development-card-image">
          <img
            src="https://www.creativesquad.ca/images/deployment.webp"
            alt="..."
          />
        </div>
      </div>
      <div class="development-note text-white text-center d-f">
        <p>
          We put transparency and honesty first. Strong communication and a
          result-driven approach have always made it possible.
        </p>
        <a href="#" class="bold-text text-title-color">ABOUT US</a>
      </div>
    </div>

    <div id="card-5" class="whole-card">
      <div class="development-card">
        <div class="development-card-content">
          <h6>OPTIMIZATION</h6>
          <p>
            We believe in data-driven decision-making. Our team utilizes
            advanced analytics tools to track and measure the performance of
            your marketing campaigns.
          </p>
          <a href="#">READ MORE</a>
        </div>
        <div class="development-card-image">
          <img
            src="https://www.creativesquad.ca/images/maintainance.webp"
            alt="..."
          />
        </div>
      </div>
      <div class="development-note text-white text-center d-f">
        <p>
          We put transparency and honesty first. Strong communication and a
          result-driven approach have always made it possible.
        </p>
        <a href="#" class="bold-text text-title-color">ABOUT US</a>
      </div>
    </div>
  </div>
</div>
