<div class="about-business-container mt-5">
  <div class="about-business d-f mb-3">
    <h3 class="about-business-title text-title-size bold-text mb-4">
      DIVERSE PORTFOLIO OF
      <span class="about-business-title-span text-title-color"
        >THRIVING B2B & B2C BUSINESSES</span
      >
    </h3>

    <p>
      Over the years, Creative Squad has had the privilege of partnering with
      diverse industries. We have left our mark on numerous sectors, from
      e-commerce giants to healthcare providers, hospitals to educational
      institutions.
    </p>
  </div>

  <div class="about-business-pics-container d-g">
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_sport.png"
        class="about-business-image"
        alt="Professional Sports"
      />
      <label class="about-business-label">Professional Sports</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_automotive.png"
        class="about-business-image"
        alt="Automotive"
      />
      <label class="about-business-label">Automotive</label>
    </div>

    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_construction.png"
        class="about-business-image"
        alt="Construction"
      />
      <label class="about-business-label">Construction</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_technology.png"
        class="about-business-image"
        alt="Technology"
      />
      <label class="about-business-label">Technology</label>
    </div>

    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_healthcare.png"
        class="about-business-image"
        alt="Healthcare"
      />
      <label class="about-business-label">Healthcare</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_ecommerce.png"
        class="about-business-image"
        alt="Ecommerce"
      />
      <label class="about-business-label">Ecommerce</label>
    </div>

    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_hospitality.png"
        class="about-business-image"
        alt="Hospitality"
      />
      <label class="about-business-label">Hospitality</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_finance.png"
        class="about-business-image"
        alt="Finance"
      />
      <label class="about-business-label">Finance</label>
    </div>

    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_realestate.png"
        class="about-business-image"
        alt="Real Estate"
      />
      <label class="about-business-label">Real Estate</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_retail.png"
        class="about-business-image"
        alt="Retail"
      />
      <label class="about-business-label">Retail</label>
    </div>

    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_education.png"
        class="about-business-image"
        alt="Education"
      />
      <label class="about-business-label">Education</label>
    </div>
    <div class="ABContentHolder">
      <img
        src="https://www.creativesquad.ca/images/icons/portfolio_legal.png"
        class="about-business-image"
        alt="Legal"
      />
      <label class="about-business-label">Legal</label>
    </div>
  </div>

  <div class="about-business-main-image d-f">
    <img
      src="https://www.creativesquad.ca/images/creatives/about-img-1.webp"
      alt="..."
    />
  </div>
</div>
