<%- layout(`Boilerplate/boilerplate`) %>

<link
  rel="stylesheet"
  href="/Stylesheets/ECOMMERCE DEVELOPMENT SERVICES/ecommerce-developement-services-styles.css"
/>

<%- include('../../Solutions-Card/solutionsCard.ejs') %>

<div class="ecommerce-development-services-container">
  <div class="hero d-g">
    <div class="hero-title">
      <h3><span></span></h3>
      <p></p>
      <a href="/become-client"></a>
    </div>
    <div class="hero-image">
      <img src="" alt="..." />
    </div>
  </div>
</div>

<script src="/Javascripts/ECOMMERCE DEVELOPMENT SERVICES/ecommerce-developement-services-js/services.js"></script>

<script src="/Javascripts/ECOMMERCE DEVELOPMENT SERVICES/ecommerce-developement-services-js/FAQ.js"></script>

<script src="/Javascripts/ECOMMERCE DEVELOPMENT SERVICES/ecommerce-developement-services-js/contact.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
