@import url("/stylesheet/utils/utils.css");

.refund-policy-container {
  font-family: montserrat, sans-serif;
}

.refund-policy-container header {
  padding: var(--size-10xl) 0;
  margin-top: -3.37rem;
  background: linear-gradient(90deg, #1b1b1b, #454545);
}

header .refund-policies__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  color: var(--normal-clr-accent);
}

.refund-policy-container .refund-policies {
  margin: var(--size-4xl) auto 0 auto;
  padding: 0 var(--size-lg);
}

.refund-policy-container .refund-policies:last-child {
  margin-bottom: var(--size-4xl);
}

.refund-policies .refund-policy__title {
  font-weight: 600;
  line-height: 1.1;
  font-size: var(--size-xl);
  color: var(--normal-clr-accent);
  text-transform: uppercase;
  margin-bottom: var(--size-xs);
  margin-top: var(--size-2xl);
}

.refund-policies .refund-policy__description {
  color: var(--muted-clr-accent);
}

/* >= 576px */
@media (min-width: 576px) {
  header .refund-policies__title {
    font-size: var(--size-4xl);
  }

  .refund-policy-container .refund-policies {
    max-width: 540px;
  }
}

/* >= 640px */
@media (min-width: 640px) {
  .refund-policy-container header {
    margin-top: -3.799rem;
  }
}

/* >= 768px */
@media (min-width: 768px) {
  header .refund-policies__title {
    font-size: var(--size-4_5xl);
  }

  .refund-policy-container .refund-policies {
    max-width: 720px;
  }

  .refund-policy-container .refund-policies {
    margin-top: var(--size-5xl);
  }
}

/* >= 1024px */
@media (min-width: 1024px) {
  header .refund-policies__title {
    font-size: var(--size-5xl);
  }

  .refund-policy-container .refund-policies {
    max-width: 990px;
  }

  .refund-policy-container .refund-policies:last-child {
    margin-bottom: var(--size-5xl);
  }
}

/* >= 1260px */
@media (min-width: 1260px) {
  .refund-policy-container header {
    margin: -4.533rem auto 0 0 !important;
  }
}

/* >= 1400px */
/* @media (min-width: 1400px) {} */
