<%- layout(`Boilerplate/boilerplate`) %>

<link
  rel="stylesheet"
  href="/Stylesheets/TESTIMONIALS/testimonials-styles.css"
/>

<div class="testimonials-container">
  <!-- NAV HELPER -->
  <div class="nav-helper"></div>
  <!-- MAIN CONTENT -->
  <div class="hero d-g">
    <div class="hero-title">
      <h3 class="bold-text">
        CLIENT <span class="text-title-color">TESTIMONIALS</span>
      </h3>
      <p>
        We make decisions based on real data, ensuring your campaigns are
        optimized for maximum impact. And that's not all. We're constantly
        innovating and expanding our client portfolio. We start by getting to
        know your business inside and out. Through in-depth discussions and
        market research, we uncover your unique goals, target audience, and
        competition.
      </p>
      <a href="/become-client" class="get-started-btn-sm text-white"
        >Get Started</a
      >
    </div>
    <div class="hero-video">
      <video autoplay muted playsinline controls>
        <source
          src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1725824557784-Testimonial+Final+Video.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div class="results-container">
    <div class="context" style="position: sticky; top: 20px">
      <h6 class="title-for-results bold-text text-title-size">
        <span class="title-for-results-span text-title-color"
          >BUILDING BRANDS</span
        >
        <br />
        WORLDWIDE
      </h6>
      <p class="contextForResults mt-4">
        We don't just talk strategy – we deliver real results, proven by the
        success stories of our amazing clients. We take pride in building
        long-term partnerships and tailoring our strategies to each client's
        unique goals. We understand the unique needs and landscape of the
        Canadian market, giving you a strategic edge.
      </p>
    </div>
    <div class="cards-container d-f">
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/bishop-landing.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">STRATEGIC INFLUENCER MARKETING</h6>
        <p>
          Harness the power of influencers to connect with your target audience
          and expand your brand reach.
        </p>
      </div>
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/start-landing.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">ORGANIC SOCIAL MEDIA STRATEGY</h6>
        <p>
          Develop an organic SMM strategy that fosters genuine connections and
          drives engagement on social media platforms.
        </p>
      </div>
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/video-landing.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">
          IMPACTFUL CONTENT PROMOTION STRATEGIES
        </h6>
        <p>
          Craft a targeted content promotion strategy to amplify your content
          and ensure it reaches the right audience.
        </p>
      </div>
      <div class="card mb-4">
        <img
          src="https://www.creativesquad.ca/images/icons/dollar-landing.svg"
          alt="..."
        />
        <h6 class="SM-font-size bold-text">DATA-DRIVEN PAID ADS</h6>
        <p>
          Leverage data insights to develop paid advertising campaigns that
          deliver measurable results and reach your ideal customers.
        </p>
      </div>
    </div>
  </div>

  <div class="testimonials-cards-container d-g">
    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/U1USZs8AoQ0"
        title="Another Success Stories - TRU Off Grid #clienttestimonial #happyclient"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">TRU OFF GRID</h5>
      <p>Their satisfaction motivates us</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="#" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/L_thYvisr8s"
        title="See why clients trust Digital Benders to drive their business forward."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">EMPOWERMENT PROJECT</h5>
      <p>Proud to highlight our client's journey</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/emRxmtX9FNE"
        title="Client Success Story: Transforming Visions into Results with Digital Benders"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe
      ><br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">MEADOWS EQUINE</h5>
      <p>Proud to highlight our client's journey</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <div class="about-us-container d-g">
    <div class="about-us-title">
      <h3 class="bold-text">
        <span class="text-title-color">WE DELIVER REAL,</span> <br />MEASURABLE
        RESULTS
      </h3>
      <p>
        We make decisions based on real data, ensuring your campaigns are
        optimized for maximum impact. And that's not all. We're constantly
        innovating and expanding our client portfolio. We start by getting to
        know your business inside and out. Through in-depth discussions and
        market research, we uncover your unique goals, target audience, and
        competition.
      </p>
      <a href="/become-client" class="get-started-btn-invert">Get Started</a>
    </div>
    <div class="about-us-main">
      <div class="about-us-card text-center" style="margin-bottom: 15px">
        <img src="https://www.creativesquad.ca/images/shared.svg" alt="..." />
        <h3 class="bold-text">STRATEGIC PLANNING & ROADMAP</h3>
        <p>
          Equipped with a clear understanding of your needs, we develop a
          customized digital marketing roadmap. This roadmap outlines specific
          strategies, channels, and tactics to achieve your objectives.
        </p>
      </div>
      <div class="about-us-card text-center">
        <img
          src="https://www.creativesquad.ca/images/sytematic.svg"
          alt="..."
        />
        <h3 class="bold-text">METICULOUS CAMPAGIN EXECUTION</h3>
        <p>
          Our team of experts meticulously executes your digital marketing
          campaigns across various channels, including SEO, content marketing,
          social media, paid advertising, and more.
        </p>
      </div>
    </div>
    <div class="about-us-extra">
      <div class="about-us-card text-center">
        <img src="https://www.creativesquad.ca/images/planned.svg" alt="..." />
        <h3 class="bold-text">DATA-DRIVEN OPTIMIZATION & REPORTING</h3>
        <p>
          Throughout the process, we maintain transparent communication, keeping
          you informed of progress and actively seeking your feedback. The
          digital landscape is ever-evolving. We stay ahead of the curve,
          constantly learning and implementing new strategies to ensure your
          digital presence continues to thrive. This collaborative process
          allows us to tailor our approach to your specific needs and deliver
          measurable results that contribute to your overall business success.
        </p>
      </div>
    </div>
  </div>

  <div class="testimonials-cards-container d-g">
    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/nXydN98v94E"
        title="Creative Squad Client Testimonials: Real Success Stories from Happy Customers!"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">BLUE FYSH</h5>
      <p>Proud to highlight our client's journey.</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="#" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/Di-qJSuMjlA"
        title="See why clients trust Digital Benders to drive their business forward."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">VENUS HEALTH</h5>
      <p>Result's speaker louder than words.</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>

    <div class="testimonial-card">
      <iframe
        class="video-review"
        width="350"
        height="625"
        src="https://www.youtube.com/embed/YIbaAZpbDGg"
        title="Client Success Story: Transforming Visions into Results with Digital Benders"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe
      ><br />
      <img
        class="mt-4 mb-2"
        src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
        alt=""
      />
      <h5 class="bold-text">SARINA GANDHI</h5>
      <p>Proud to highlight our client's journey</p>
      <a href="#" class="text-danger">View Case Study</a>
      <a href="" class="case-study-btn text-title-color bold-text"
        ><i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <div class="contact-section d-g text-white">
    <div class="idea-prompt d-f">
      <p style="margin-left: 5px">Let's Talk</p>
      <h6 class="text-title-size">
        Got An Idea?<br />
        <span class="bold-text">Let's get in touch!</span>
      </h6>
      <br />
      <p>
        Let's discuss your project and find out what we can do to provide value.
      </p>
    </div>
    <div class="submit-form d-f">
      <h6>Enter your details to get started.</h6>
      <form class="form" action="/">
        <input type="text" placeholder="Your Full Name" required />
        <input
          type="text"
          pattern="[\d\s\(\)]*"
          placeholder="Your Phone Number"
          required
        />
        <input type="email" placeholder="Your Email Address" required />
        <input type="text" placeholder="Enter Project Type" required />

        <div id="spinner-overlay" style="z-index: 9999">
          <div
            class="spinner-border spinner spinner-border-sm"
            role="status"
            style="display: none; margin: 0 0 15px 47px"
          ></div>
        </div>

        <button class="submit-btn bold-text">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/Javascripts/TESTIMONIALS/testimonials-js/contact.js"></script>
