@import url("/stylesheet/utils/utils.css");

.header {
  background: linear-gradient(90deg, #1b1b1b, #454545);
}

.blog__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: var(--size-8xl);
  padding-bottom: var(--size-9_5xl);
  height: auto;
  background: linear-gradient(90deg, #1b1b1b, #454545);
}

.blog__header h1 {
  font-size: 1.42rem;

  & span {
    color: var(--light-clr-accent);
  }
}

.col {
  max-width: 90%;
  margin: 0 auto;
}

.blog__main-image {
  margin: -4.5rem auto var(--size-4xl) auto;
  text-align: center;

  & img {
    max-width: 93.5%;
    height: auto;
    border-radius: 8px;
  }
}

.blog__main {
  max-width: 90%;
  margin: 0 auto;

  & p {
    color: var(--muted-clr-accent);
  }

  & h3 {
    font-size: var(--size-2xl);
    margin: var(--size-md) 0 var(--size-xl) 0;
  }

  & ul,
  & li {
    margin: 0;
    padding: 0;
    list-style: decimal;
  }

  & li {
    margin-left: var(--size-md);
    margin-bottom: var(--size-sm);
  }
}

#date-published {
  color: black;
  margin-bottom: var(--size-4xl);
}

#seperator {
  max-width: 90%;
  margin: 0 auto;
}

#date {
  color: var(--muted-clr-accent);
  font-weight: bold;
}

.blog__footer {
  max-width: 90%;
  margin: var(--size-4xl) auto 0 auto;
}

.blog__footer h2 {
  font-weight: 600;
  margin-bottom: var(--size-3xl);

  & span {
    color: var(--normal-clr-accent);
  }
}

.top-blog {
  border-radius: 4px;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--size-3xl);
  box-shadow: var(--card-shadow);
}

.top-blog__main-image img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: auto;
}

.top-blog__content {
  max-width: 90%;
  margin: 0 auto;

  & h3 {
    margin: var(--size-xl) 0 var(--size-lg) 0;
    font-size: 1.08rem;
  }
}

.top-blog__footer {
  display: flex;
  justify-content: space-between;

  & p {
    font-size: 0.82rem;
  }

  & span {
    font-size: 0.82rem;
  }
}

/* >= 475px */
@media (min-width: 475px) {
  .blog__header h1 {
    font-size: var(--size-3_5xl);
  }
}

/* >= 576px */
@media (min-width: 576px) {
  .blog__header h1 {
    font-size: var(--size-4_5xl);
  }

  .col,
  .blog__main,
  .blog__main-image img,
  #seperator,
  .blog__footer {
    max-width: 530px;
  }
}

/* >= 768px */
@media (min-width: 768px) {
  .blog__header h1 {
    font-size: var(--size-5xl);
  }

  .top-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-2xs) var(--size-3_5xl);
  }

  .blog__footer h2 {
    font-size: var(--size-4xl);
    margin-bottom: var(--size-5xl);
  }

  .col,
  .blog__main,
  #seperator,
  .blog__main-image img,
  .blog__footer {
    max-width: 720px;
  }
}

/* >= 1024px */
@media (min-width: 1024px) {
  .blog__header h1 {
    font-size: 3.19rem;
  }

  .top-blogs {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-md) var(--size-5xl);
  }

  .col,
  .blog__main,
  .blog__main-image img,
  #seperator,
  .blog__footer {
    max-width: 950px;
  }
}

/* >= 1200px */
@media (min-width: 1200px) {
  .col,
  .blog__main,
  .blog__main-image img,
  #seperator,
  .blog__footer {
    max-width: 1120px;
  }
}

/* >= 1400px */
@media (min-width: 1400px) {
  .col,
  .blog__main,
  .blog__main-image img,
  #seperator,
  .blog__footer {
    max-width: 1290px;
  }
}
