<%- layout("Boilerplate/boilerplate") %>

<link rel="stylesheet" href="/Stylesheets/WHO WE ARE/who-we-are-styles.css" />

<%- include('../../Solutions-Card/solutionsCard.ejs') %>

<div class="who-we-are-container">
  <div class="hero">
    <div class="hero-title">
      <h1 class="text-white text-title-size">
        <span class="text-title-color">Meet</span> Your Creative Squad
      </h1>
      <p class="text-white">
        Where digital marketing expertise meets boundless imagination — driven
        by a passion for creating captivating brand experiences that inspire,
        engage, and leave a lasting impression. Combining strategy, creativity,
        and innovation, we help brands connect deeply with their audiences.
      </p>
      <a class="text-white" href="/become-client">Get Started</a>
    </div>
    <div class="hero-image">
      <img
        src="https://www.creativesquad.ca/images/creatives/whoweare.webp"
        alt="..."
      />
    </div>
  </div>
  <div class="about-section">
    <div class="about-header">
      <h5>CREATIVITY & BEYOND</h5>
      <p>
        We believe in the power of digital marketing to transform businesses and
        drive growth. Our agency combines creativity, strategy, and technical
        expertise to deliver exceptional results for our clients. Our success is
        intricately tied to the success of the brands we serve. We pledge to go
        above and beyond to deliver exceptional results and exceed our clients'
        expectations in every project we undertake.
      </p>
    </div>
    <div class="about-image">
      <img
        style="max-width: 1100px; max-height: 400px"
        src="https://www.creativesquad.ca/images/about_line.svg"
        alt="..."
      />
    </div>
    <div class="about-items">
      <div class="about-item item-1">
        <img src="https://www.creativesquad.ca/images/about_1.svg" alt="..." />
        <h5>OUR <span>VISION</span></h5>
        <p>
          Our vision is to be the driving force behind digital transformation,
          revolutionizing how brands connect with their audiences online. We
          strive to propel businesses towards remarkable success, creating
          immersive and unforgettable brand experiences for lasting impact.
        </p>
      </div>
      <div class="about-item item-2">
        <img src="https://www.creativesquad.ca/images/about_2.svg" alt="..." />
        <h5>OUR <span>PHILOSOPHY</span></h5>
        <p>
          Founded on the belief that every brand has a unique story to tell, we
          have dedicated ourselves to becoming the catalyst for digital
          transformation. With cutting-edge technologies, creative design, and
          strategic marketing, we empower brands to thrive.
        </p>
      </div>
      <div class="about-item item-3">
        <img src="https://www.creativesquad.ca/images/about_3.svg" alt="..." />
        <h5>OUR <span>STORY</span></h5>
        <p>
          Our story is not just about us; it is about the brands we have had the
          privilege to serve. We have partnered with trailblazers, visionaries,
          and ambitious entrepreneurs, working hand in hand to turn their
          business dreams into reality.
        </p>
      </div>
    </div>
    <div class="about-footer">
      <div class="about-footer-title">
        <h2 class="bold-text">
          EMPOWERING BRANDS TO <br />
          <span class="text-title-color">TRANSCEND EXPECTATIONS</span>
        </h2>
        <p>
          At our core, we are problem solvers and solution providers. We
          understand the unique challenges that each industry faces and craft
          customized strategies to address them effectively. We stay ahead of
          the curve, continuously exploring emerging trends and technologies to
          ensure your brand remains at the forefront of innovation. Our team is
          fueled by curiosity and a relentless pursuit of excellence, always
          seeking new ways to captivate your audience and drive remarkable
          results.
        </p>
        <a href="/become-client" class="d-ib">Let's Connect</a>
      </div>
      <div class="about-footer-image">
        <img
          src="https://www.creativesquad.ca/images/about_rocket.png"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="achievements-container">
    <div class="achievements-title">
      <h4 class="bold-text text-white">
        DIGITAL <span class="text-title-color">SUCCESS STORIES</span>
      </h4>
      <p class="text-white">
        We pride ourselves on delivering measurable and impactful results. Our
        data-driven approach allows us to continuously analyze and optimize your
        campaigns for maximum performance and return on investment
      </p>
    </div>
    <div class="achievement completed-projects text-white">
      <h5>400+</h5>
      <h6>Completed Projects</h6>
    </div>
    <div class="achievement years-of-experience text-white">
      <h5>5+</h5>
      <h6>Years of experience</h6>
    </div>
  </div>
  <div class="core-values-container">
    <div class="core-values-slider">
      <div class="core-slider">
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_qa.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Creativity</h5>
          </div>
          <div class="slide-text">
            <p>
              We embrace the power of creativity in all aspects of our work,
              like our name. We foster an environment for innovative thinking,
              unconventional ideas, and imaginative solutions.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_value.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Collaboration</h5>
          </div>
          <div class="slide-text">
            <p>
              We strongly believe in transparency and the best results are
              achieved through collaboration and partnership. We value open
              communication, active listening, and diverse clients and team
              perspectives.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_commitment.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Integrity</h5>
          </div>
          <div class="slide-text">
            <p>
              We hold ourselves to the highest ethical standards. We take pride
              in building strong and trustworthy relationships with our clients,
              employees with honesty and transparency.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_transparency.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Results-Driven</h5>
          </div>
          <div class="slide-text">
            <p>
              We set clear objectives, develop data-driven strategies, and
              continuously monitor and optimize our campaigns to achieve optimal
              outcomes. Our relentless focus on delivering measurable results.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_integrity.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Continous Learning</h5>
          </div>
          <div class="slide-text">
            <p>
              We embrace a culture of continuous learning and improvement. Our
              team is dedicated to expanding their knowledge and expertise,
              ensuring we provide our clients with innovative solutions.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="slide-image">
            <img
              src="https://www.creativesquad.ca/images/spirit_commitment.svg"
              alt="..."
            />
          </div>
          <div class="slide-title">
            <h5>Client-Centric</h5>
          </div>
          <div class="slide-text">
            <p>
              We understand their unique needs and goals, and tailor our
              strategies to exceed their expectations. We strive to build
              long-term partnerships based on reliability, and exceptional
              service.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="core-values-title">
      <h2 class="bold-text">
        EXPERIENCE THE <br />
        <span class="text-title-color">DIGITAL BENDERS DIFFERENCE</span>
      </h2>
      <p>
        These values are ingrained in our daily operations, empowering us to
        curate extraordinary experiences and drive the success of the brands we
        serve. We are committed to your success, we continuously adapt and
        refine our methodologies, and will work tirelessly to help your business
        become a recognized industry leader. Let us be the driving force behind
        your digital transformation.
      </p>
      <div class="controls">
        <button id="prev">‹</button>
        <button id="next">›</button>
      </div>
    </div>
  </div>
  <div class="about-business-container d-g">
    <div class="about-business-title">
      <h1 class="bold-text">
        DIVERSE PORTFOLIO OF <br />
        <span class="text-title-color">THRIVING B2B & B2C BUSINESS</span>
      </h1>
      <p>
        Over the years, Digital Benders has had the privilege of partnering with
        diverse industries. We have left our mark on numerous sectors, from
        e-commerce giants to healthcare providers, hospitals to educational
        institutions.
      </p>
      <div class="specialization-container">
        <div class="specialization-column-1">
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_sport.png"
              alt="..."
            />
            <label>Professional Sports</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_construction.png"
              alt="..."
            />
            <label>Construction</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_healthcare.png"
              alt="..."
            />
            <label>Healthcare</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_hospitality.png"
              alt="..."
            />
            <label>Hospitality</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_realestate.png"
              alt="..."
            />
            <label>Real Estate</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_education.png"
              alt="..."
            />
            <label>Education</label>
          </div>
        </div>
        <div class="specialization-column-2">
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_automotive.png"
              alt="..."
            />
            <label>Automotive</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_technology.png"
              alt="..."
            />
            <label>Technology</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_ecommerce.png"
              alt="..."
            />
            <label>E-commerce</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_finance.png"
              alt="..."
            />
            <label>Finance</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_retail.png"
              alt="..."
            />
            <label>Retail</label>
          </div>
          <div class="specialization">
            <img
              src="https://www.creativesquad.ca/images/icons/portfolio_legal.png"
              alt="..."
            />
            <label>Legal</label>
          </div>
        </div>
      </div>
    </div>
    <div class="about-business-image">
      <img
        src="https://www.creativesquad.ca/images/creatives/about-img-1.webp"
        alt="..."
      />
    </div>
  </div>
</div>

<script>
  const slider = document.querySelector(".core-slider");
  const slides = document.querySelectorAll(".slide");
  const prev = document.getElementById("prev");
  const next = document.getElementById("next");

  let index = 0;
  const slidesToShow = 2;
  const gap = 20;
  const slideWidth = slider.querySelector(".slide").offsetWidth;
  const maxIndex = slides.length - slidesToShow;

  next.addEventListener("click", () => {
    if (index < maxIndex) {
      index++;
      updateSlider();
    }
  });

  prev.addEventListener("click", () => {
    if (index > 0) {
      index--;
      updateSlider();
    }
  });

  function updateSlider() {
    const moveAmount = index * (slideWidth + gap);
    slider.style.transform = `translateX(-${moveAmount}px)`;
    prev.disabled = index === 0;
    next.disabled = index === maxIndex;
  }

  updateSlider();
</script>
