@import url("/stylesheet/utils/utils.css");

#main-header {
  background: url(https://www.creativesquad.ca/images/creatives/seo-analysis-hero.png)
    no-repeat center center/cover;
  text-align: center;
  margin-top: -3.37rem;
  min-height: 100vh;
  padding: var(--size-7_5xl) 0;
}

#spinner-overlay {
  margin-bottom: var(--size-1_5xl);
}

header .column {
  max-width: 93.5%;
  margin: 0 auto;
}

header .seo-analysis__title,
header h4 {
  color: white;
  text-transform: uppercase;
}

header .seo-analysis__title {
  font-size: var(--size-2xl);
  font-weight: 600;

  & span {
    color: var(--normal-clr-accent);
  }
}

header h4 {
  font-size: var(--size-xs);
  margin: var(--size-xs) 0 var(--size-1_5xl) 0;
}

.seo-analysis__form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--size-xs);
}

.seo-analysis__form .seo-analysis__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 25px 12.5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ededed18;
  color: #a1a0a0;
  transition: box-shadow 0.3s ease-in-out;

  &::placeholder {
    color: #a1a0a0;
  }
}

#url-input {
  margin-bottom: var(--size-xl);
}

#url-btn {
  background-color: var(--card-red-bg);
  border: 1px solid var(--card-red-bg);
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  padding: var(--size-2xs) 2.2rem;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  &:hover {
    background-color: var(--hover-clr-accent);
    border-color: var(--hover-clr-accent);
  }
}

/* BRAND GROWING */
.brand-growing-container {
  max-width: 90%;
  padding: var(--size-3xl) 0;
  margin: auto;
}

.brand-growing__title {
  font-size: var(--size-2xl);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;

  & span {
    color: var(--normal-clr-accent);
  }
}

/* Buttons container */
.brand-growing__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: var(--size-2xl) auto;
  width: 90%;
  gap: var(--size-sm);
}

.brand-growing__btn {
  border: none;
  text-transform: uppercase;
  background: transparent;
  line-height: 1.2;
  font-weight: 500;
  border-radius: 50px;
  width: 160px;
  margin: 0 var(--size-sm);
  font-size: var(--size-sm);
  padding: var(--size-xs) var(--size-4xl);
}

.brand-growing__btn.active {
  color: white;
  background: var(--normal-clr-accent);
}

/* Cards default hidden */
.brand-growing__card {
  display: none;
}

/* show active card on all viewports (stacked on small screens) */
.brand-growing__card.active {
  display: block;
  margin-top: var(--size-4xl);
}

/* Card internals (flattened) */
.brand-growing__card .card__content {
  margin-bottom: var(--size-3xl);
}

.brand-growing__card .card__content h3 {
  font-size: var(--size-xl);
  color: var(--normal-clr-accent);
  margin-bottom: var(--size-xl);
  text-align: left;
}

.brand-growing__card .card__content p {
  font-size: var(--size-sm);
  color: var(--muted-clr-accent);
  margin-bottom: var(--size-2xl);
}

.brand-growing__card .card__main-image {
  text-align: center;
  margin-bottom: var(--size-3xl);
}

.brand-growing__card .card__main-image img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.card__button {
  font-size: var(--size-sm);
}

.website-scrolling-analysis-container {
  padding: var(--size-3_5xl) 0;
  background-color: #191919;

  & .column {
    max-width: 92.5%;
    margin: 0 auto;
    color: white;
  }
}

.column .scrolling-analysis__title,
.column .scrolling-analysis__description {
  text-align: center;
}

.column .scrolling-analysis__title {
  text-transform: uppercase;
  font-weight: 800;

  & span {
    color: var(--normal-clr-accent);
  }
}

.column .scrolling-analysis__description {
  font-size: var(--size-sm);
  margin: var(--size-sm) 0 var(--size-4xl) 0;
}

.column .scoring-card {
  border: 1px solid white;
  border-radius: 4px;
  max-width: 90%;
  margin: 0 auto;
  padding: var(--size-3_5xl);

  &:not(:last-of-type) {
    margin-bottom: var(--size-xl);
  }
}

.scoring-card .scoring-card__title {
  text-transform: uppercase;
  font-size: var(--size-sm);
  margin-bottom: var(--size-md);
  color: var(--normal-clr-accent);
}

.scoring-card .scoring-card__description {
  font-size: var(--size-sm);
}

.section-4 {
  background: url(https://www.creativesquad.ca/images/contactformbackground.jpg);
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-blend-mode: overlay;
}

.contact-section-container {
  display: grid;
  max-width: 92.5%;
  margin: 0 auto;
}

.contact-section-container header,
.inputs__detail-paragraph {
  text-align: center;
  color: white;
}

header .contact-section__title {
  margin-bottom: var(--size-2xl);

  & span {
    font-weight: 600;
  }
}

header .contact-section__subtitle {
  display: none;
  margin-bottom: var(--size-2xl);
}

.contact-section-container .inputs__detail-paragraph,
.contact-section-container .contact-section__description {
  font-size: var(--size-sm);
}

.contact-section-container .inputs__detail-paragraph {
  margin-bottom: var(--size-2xl);
}

#contact__form {
  text-align: center;
}

#contact__form .contact-section__inputs {
  display: grid;
  gap: var(--size-2xs);
  margin-bottom: var(--size-lg);
}

#contact__form .contact-section__input {
  border: none;
  font-size: var(--size-sm);
  border-bottom: 1px solid;
  padding: 5px 10px;
  width: 100%;
  color: white;
  background: transparent;

  &::placeholder {
    color: white;
    font-size: var(--size-sm);
  }

  &:active {
    border-color: white;
  }
}

#contact__form .submit__form {
  background-color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--card-red-bg);
  padding: var(--size-2xs) 2.2rem;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: var(--card-red-bg);
    color: white;
  }
}

.seo-analysis__spinner {
  margin-top: var(--size-2xl);
  margin-bottom: var(--size-3xs) !important;
}

/* >= 376px */
@media (min-width: 376px) {
  header .seo-analysis__title {
    font-size: var(--size-2_5xl);
  }
}

/* >= 476px */
@media (min-width: 476px) {
  header .seo-analysis__title {
    font-size: var(--size-3xl);
  }

  .brand-growing__title {
    font-size: var(--size-2_5xl);
    margin-bottom: var(--size-4xl);
  }

  .column .scrolling-analysis__title {
    font-size: var(--size-2_5xl);
  }
}

/* >= 576px */
@media (min-width: 576px) {
  header .seo-analysis__title {
    font-size: var(--size-3xl);
  }

  #main-header {
    padding: var(--size-8xl) 0;
  }

  header .column,
  .brand-growing-container,
  .website-scrolling-analysis-container .column,
  .contact-section-container {
    max-width: 520px;
  }
}

/* >= 640px */
@media (min-width: 640px) {
  .seo-analysis-container {
    margin-top: -3.799rem;
  }
}

/* >= 768px */
@media (min-width: 768px) {
  header .column,
  .brand-growing-container,
  .website-scrolling-analysis-container .column,
  .contact-section-container {
    max-width: 700px;
  }

  header .seo-analysis__title {
    font-size: var(--size-4xl);
  }

  .brand-growing__title {
    font-size: var(--size-4_5xl);
    margin-bottom: var(--size-5xl);
  }

  .brand-growing__card.active {
    margin-top: var(--size-5xl);
  }

  .brand-growing__card .card__content {
    max-width: 600px;
    margin: 0 auto;
  }

  .brand-growing__card .card__main-image img {
    width: 600px;
  }

  .brand-growing__card .card__content h3 {
    font-size: var(--size-xl);
  }

  .column .scrolling-analysis__title {
    font-size: var(--size-4xl);
  }

  .scoring-card .scoring-card__title {
    font-size: var(--size-lg);
  }

  #contact__form .contact-section__inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact__form .contact-section__input {
    width: 95%;
  }
}

/* >= 1024px */
@media (min-width: 1024px) {
  #main-header {
    padding-top: var(--size-10xl);
  }

  .website-scrolling-analysis-container {
    padding: var(--size-6xl) 0;
  }

  header .column,
  .website-scrolling-analysis-container .column {
    max-width: 960px;
  }

  header h4 {
    margin-bottom: var(--size-2xl);
  }

  #spinner-overlay {
    margin-bottom: var(--size-xl);
  }

  .seo-analysis__form {
    grid-template-columns: repeat(3, 1fr);
  }

  .url__checking-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;

    & input,
    & button {
      width: 100%;
      height: 76px;
    }
  }

  #url-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
  }

  #url-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: rgba(255, 255, 255, 0.3);
    border-left-color: transparent;
  }

  .brand-growing-container {
    max-width: 1300px;
    padding: var(--size-5xl) 0;
  }

  .brand-growing__btns {
    border-radius: 50px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-shadow: var(--card-shadow);
    gap: 0;
  }

  .brand-growing__card.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: var(--size-2xl);
    max-width: 90%;
    margin: auto;
    margin-top: var(--size-4xl);
  }

  .brand-growing__card .card__content:not(:last-child) {
    margin-bottom: var(--size-xl);
  }

  .brand-growing__card.active .card__main-image img {
    max-width: 500px;
  }

  .brand-growing__card .card__content h3 {
    font-size: var(--size-2xl);
  }

  .column .scoring-card {
    max-width: 400px;
  }

  .column .scoring-card.left-side {
    margin-left: var(--size-2xl);
  }

  .column .scoring-card.right-side {
    margin-right: 0;
  }

  .column .scrolling-analysis__description {
    margin-bottom: var(--size-5xl);
  }

  .contact-section-container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-2xl);
    max-width: 900px;
  }

  .contact-spinner {
    margin-left: 50px;
  }

  #contact__form .contact-section__inputs {
    margin-bottom: var(--size-2xl);
  }

  header .contact-section__subtitle {
    display: block;
  }

  #contact__form,
  .contact-section-container .inputs__detail-paragraph,
  .contact-section-container header {
    text-align: left;
  }

  .seo-analysis__spinner {
    margin-left: var(--size-5xl);
  }
}

/* 1200px */
@media (min-width: 1200px) {
  .website-scrolling-analysis-container .column {
    max-width: 1120px;
  }

  .column .scoring-card {
    max-width: 500px;
  }

  .column .scrolling-analysis__title {
    font-size: var(--size-4_5xl);
  }
}

/* >= 1260px */
@media (min-width: 1260px) {
  .seo-analysis-container {
    margin-top: -4.533rem;
    margin-left: -2.97rem;
  }

  header .seo-analysis__title {
    font-size: var(--size-5xl);
  }

  header h4 {
    font-size: var(--size-md);
  }

  header .column {
    max-width: 1180px;
  }

  .contact-section-container {
    max-width: 1100px;
  }
}

/* >= 1400px */
@media (min-width: 1400px) {
  header .column {
    max-width: 1330px;
  }

  .contact-section-container {
    gap: var(--size-3xl);
    max-width: 1300px;
  }
}
