<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/misc/faqs.css" />

<section class="faqs-container">
  <header>
    <h3 class="faqs__title">
      Frequently Asked <br />
      <span>Questions</span>
    </h3>
    <div class="image-with-paragraph">
      <div class="faqs__image">
        <img
          src="https://www.creativesquad.ca/images/faqs_people.png"
          alt="Image Of 3 People"
        />
      </div>
      <p>Still Have Questions?</p>
    </div>
    <p class="reassuring-text">
      Can't find the answer you're looking for? <br />
      Let's Connect.
    </p>
  </header>

  <div class="faqs">
    <% data.faqs.forEach(faq => { %>
    <div class="faq">
      <h4 class="faq__question">
        <%= faq.question %>
        <button
          class="faq__toggle"
          aria-expanded="false"
          aria-controls="faq-<%- faq.id %>"
        >
          <img
            src="/assets/images/faqs-plus-icon.svg"
            alt="Plus Icon Image"
            loading="lazy"
          />
        </button>
      </h4>
      <p id="faq-<%- faq.id %>" class="faq__answer"><%= faq.answer %></p>
    </div>
    <% }) %>
  </div>
</section>

<!-- JS -->
<script src="/javascript/misc/faqs.js"></script>
