<link rel="stylesheet" href="/stylesheet/misc/trustpilot.css" />

<div class="trustpilot-container">
  <header>
    <h3 class="trustpilot__title">Trust We've <span>Earned</span></h3>
    <h5 class="trustpilot__subtitle">What are clients say about us</h5>
    <div class="trustpilot__row">
      <img
        src="/assets/images/google-reviews-2.png"
        alt="Google Rating (5 Stars)"
        class="google__rating"
        loading="lazy"
        decoding="async"
      />
      <a href="#" target="_blank" class="location__teller btn-invert"
        >See More</a
      >
    </div>
  </header>
  <div class="trustpilot__swiper swiper">
    <div class="swiper-wrapper">
      <% trustpilot.forEach(review => { %>
      <div class="swiper-slide">
        <div class="swiper__header">
          <div class="swiper__main-image">
            <img
              src="<%= review.authorImage %>"
              alt="<%= review.author %> Image"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="swiper__author-info">
            <p>
              <b><%= review.author %></b>
              <br />
              <img
                src="/assets/images/customerstars.svg"
                alt="5 Star Rating"
                loading="lazy"
                decoding="async"
              />
            </p>
          </div>
        </div>
        <p class="swiper__comment"><%= review.comment %></p>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<script src="/javascript/misc/trustpilot.js"></script>
