@import url("/stylesheet/utils/utils.css");

.portfolio-header,
.header {
  background: linear-gradient(90deg, #1b1b1b, #454545);
}

.portfolio-header {
  padding-top: 4rem;
  padding-bottom: 7rem;
  height: auto;
  font-family: var(--font-mulish);
}

/* >= 475px */
/* @media (min-width: 475px) {} */

/* >= 576px */
/* @media (min-width: 576px) {} */

/* >= 768px */
/* @media (min-width: 768px) {} */

/* >= 1024px */
/* @media (min-width: 1024px) {} */

/* >= 1260px */
/* @media (min-width: 1260px) {} */

/* >= 1400px */
/* @media (min-width: 1400px) {} */
