<%- layout(`Boilerplate/boilerplate`) %>

<link
  rel="stylesheet"
  href="/Stylesheets/DIGITAL MEDIA SERVICES/digital-media-services-styles.css"
/>

<div class="digital-media-services-container">
  <div class="hero">
    <div class="hero-title">
      <h2><span>360</span>Digital Media Services</h2>
      <p>
        Accelerate your company's expansion with our cutting-edge digital media
        solutions and drive unprecedented growth in your business
      </p>
      <a href="/become-client">Get Started</a>
    </div>
    <div class="hero-image">
      <img
        src="https://www.creativesquad.ca/images/web_creatives/service_main_hero.webp"
        alt="..."
      />
    </div>
  </div>
</div>
