<%- layout(`Boilerplate/boilerplate`) %>

<link
  rel="stylesheet"
  href="/Stylesheets/DIGITAL MEDIA SERVICES/digital-media-services-styles.css"
/>

<%- include('../../Solutions-Card/solutionsCard.ejs') %>

<div class="digital-media-services-container">
  <div class="hero d-g">
    <div class="hero-title">
      <h2 class="text-white bold-text text-title-size">
        <span class="text-title-color">360</span> Digital Media Services
      </h2>
      <p class="text-white mt-4 mb-5">
        Accelerate your organization’s trajectory with our industry-leading
        digital media solutions—strategically engineered to amplify brand
        presence, capture new markets, and drive sustained, unprecedented
        business growth in an ever-evolving digital landscape.
      </p>
      <a href="/become-client" class="text-white">Get Started</a>
    </div>
    <div class="hero-image">
      <img
        src="https://www.creativesquad.ca/images/web_creatives/service_main_hero.webp"
        alt="..."
      />
    </div>
  </div>
  <div class="media-services-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/joomla.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/figma.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/canva.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/corel.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/node.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/react.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/shopify.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/hadoop.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/express.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/python.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/php.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/g_m_b.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/ads_360.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/google_ads.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/google_shopping.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/google_tag_manager.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/google_analytics.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/search_engine_console.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/flutter.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/drupal.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/elementor.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/react_native.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/xamarin.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/wix.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/angular.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/aws.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/azure.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/magento.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="common-services-container">
    <div class="common-services-header d-g">
      <div class="common-services-title">
        <h3 class="bold-text">
          DESIGN <span class="text-title-color">& BUILD</span>
        </h3>
        <p class="my-4">
          Discover the untapped possibilities for your brand with Creative
          Squad, the leading digital marketing powerhouse in Canada. Our
          unparalleled web design and development services deliver visually
          captivating and highly functional websites that leave a lasting
          impression. Elevate your online presence and engage your audience with
          Digital Bender's mastery in crafting remarkable digital experiences.
        </p>
        <a href="/become-client">Get Started</a>
      </div>
      <div class="common-services-image">
        <img
          src="https://www.creativesquad.ca/images/design_build.png"
          alt="..."
        />
      </div>
    </div>
    <div class="common-services-main">
      <div class="swiper custom-swiper">
        <div class="swiper-wrapper">
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_CustomWeb.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">CUSTOM WEB DEVELOPMENT</h5>
              <p class="mb-4">
                Utilize our team's expertise to create stunning websites that
                seamlessly combine captivating aesthetics with flawless
                functionality, leaving a lasting impression on your site
                visitors.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_CMSWeb.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">CMS DEVELOPMENT</h5>
              <p class="mb-4">
                We are dedicated to delivering user-friendly, feature-rich, and
                scalable CMS solutions that empower you to take control of your
                website's content and streamline your online operations.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_Ecomm.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">ECOMMERCE DEVELOPMENT</h5>
              <p class="mb-4">
                Maximize your online sales potential with our bespoke ecommerce
                solutions. We specialize in developing secure and user-friendly
                online stores that also elevate your brand's online presence.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_AppDevelopment.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">APP DEVELOPMENT</h5>
              <p class="mb-4">
                Immerse yourself in the world of seamless app development,
                carefully crafted by our seasoned experts. Our innovative
                solutions enhance customer engagement, streamline processes, and
                foster long-term brand loyalty.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_landing.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">LANDING PAGE</h5>
              <p class="mb-4">
                We specialize in crafting high-converting landing pages that
                captivate audiences and drive action. With compelling design,
                we'll help you maximize your conversions and achieve your
                marketing goals.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_UIUX.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">UI/UX</h5>
              <p class="mb-4">
                Our agency's UX/UI experts create seamless user experiences,
                optimizing websites and applications for maximum engagement and
                conversions. Elevate your digital presence with our intuitive
                and visually appealing designs.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_branding.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">BRANDING</h5>
              <p class="mb-4">
                We understand the power of a strong brand. Our branding
                specialists will develop a unique identity that resonates with
                your target audience, building trust and fostering long-term
                brand loyalty.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-cycle-development-container">
    <h3 class="text-center bold-text text-title-size">
      FULL CYCLE DEVELOPMENT PROCESS <br />
      <span class="text-title-color">FOR INSPIRING ONLINE EXPERIENCES</span>
    </h3>
    <div class="development-btns-container d-f">
      <button class="development-btn">Strategic Planning</button>
      <span>></span>
      <button class="development-btn">Content Creation</button>
      <span>></span>
      <button class="development-btn">Performance Marketing</button>
      <span>></span>
      <button class="development-btn">Analytics</button>
      <span>></span>
      <button class="development-btn">Optimization</button>
    </div>
    <div class="development-cards-container d-f">
      <div id="card-1" class="whole-card">
        <div class="development-card">
          <div class="development-card-content">
            <h6>STRATEGIC PLANNING</h6>
            <p>
              Our design &amp; development team collaborates to understand your
              demands and users by lining them up with your company dynamics for
              an exceptional digital experience.
            </p>
            <a href="#">READ MORE</a>
          </div>
          <div class="development-card-image">
            <img
              src="https://www.creativesquad.ca/images/discover.webp"
              alt="..."
            />
          </div>
        </div>
        <div class="development-note text-white text-center d-f">
          <p>
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="#" class="bold-text text-title-color">ABOUT US</a>
        </div>
      </div>

      <div id="card-2" class="whole-card">
        <div class="development-card">
          <div class="development-card-content">
            <h6>CONTENT CREATION</h6>
            <p>
              Our experienced content creators will develop a content strategy
              (website copy, blog articles, social media posts, or video scrip)
              tailored to your target audience and business objectives.
            </p>
            <a href="#">READ MORE</a>
          </div>
          <div class="development-card-image">
            <img
              src="https://www.creativesquad.ca/images/development.webp"
              alt="..."
            />
          </div>
        </div>
        <div class="development-note text-white text-center d-f">
          <p>
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="#" class="bold-text text-title-color">ABOUT US</a>
        </div>
      </div>

      <div id="card-3" class="whole-card">
        <div class="development-card">
          <div class="development-card-content">
            <h6>PERFORMANCE MARKETING</h6>
            <p>
              To accelerate your online growth, we leverage paid advertising
              channels. Our digital advertising experts create highly targeted
              campaigns that maximize your return on investment (ROI).
            </p>
            <a href="#">READ MORE</a>
          </div>
          <div class="development-card-image">
            <img
              src="https://www.creativesquad.ca/images/testing.webp"
              alt="..."
            />
          </div>
        </div>
        <div class="development-note text-white text-center d-f">
          <p>
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="#" class="bold-text text-title-color">ABOUT US</a>
        </div>
      </div>

      <div id="card-4" class="whole-card">
        <div class="development-card">
          <div class="development-card-content">
            <h6>ANALYTICS</h6>
            <p>
              We analyze the data to gain insights into user behavior and areas
              for improvement. We continuously optimize your campaigns to
              achieve your marketing objectives.
            </p>
            <a href="#">READ MORE</a>
          </div>
          <div class="development-card-image">
            <img
              src="https://www.creativesquad.ca/images/deployment.webp"
              alt="..."
            />
          </div>
        </div>
        <div class="development-note text-white text-center d-f">
          <p>
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="#" class="bold-text text-title-color">ABOUT US</a>
        </div>
      </div>

      <div id="card-5" class="whole-card">
        <div class="development-card">
          <div class="development-card-content">
            <h6>OPTIMIZATION</h6>
            <p>
              We believe in data-driven decision-making. Our team utilizes
              advanced analytics tools to track and measure the performance of
              your marketing campaigns.
            </p>
            <a href="#">READ MORE</a>
          </div>
          <div class="development-card-image">
            <img
              src="https://www.creativesquad.ca/images/maintainance.webp"
              alt="..."
            />
          </div>
        </div>
        <div class="development-note text-white text-center d-f">
          <p>
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="#" class="bold-text text-title-color">ABOUT US</a>
        </div>
      </div>
    </div>
  </div>
  <div class="marketing-strategies-container">
    <div class="marketing-strategies-header d-g">
      <div class="marketing-strategies-title">
        <h3 class="bold-text">
          CREATE <span class="text-title-color">& MARKET</span>
        </h3>
        <p class="my-4">
          Make the world talk about you with Digital Benders, the leading
          digital marketing company in Canada. Our all-inclusive online
          marketing solutions cover everything from strategic ad campaigns to
          meticulous management, backed by our unmatched expertise. Connect with
          your target audience, and unlock unparalleled success through Digital
          Bender's innovative and advanced digital marketing strategies.
        </p>
        <a href="/become-client">Get Started</a>
      </div>
      <div class="marketing-strategies-image">
        <img
          src="https://www.creativesquad.ca/images/create_and_market.png"
          alt="..."
        />
      </div>
    </div>
    <div class="marketing-strategies-main">
      <div class="swiper custom-swiper">
        <div class="swiper-wrapper">
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/DB_MarketingStrategy.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">MARKETING STRATEGY</h5>
              <p class="mb-4">
                Partner with our team to develop a comprehensive marketing
                strategy. From market research to campaign execution, we deliver
                measurable results that drive growth and boost your brand's
                success.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_googleads.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">GOOGLE ADS</h5>
              <p class="mb-4">
                Drive targeted traffic to your website and increase conversions
                with our Google Ads management services. Our certified experts
                create highly optimized campaigns that maximize your ROI.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_emailmarketing.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">EMAIL MARKETING</h5>
              <p class="mb-4">
                Build strong customer relationships and drive repeat business
                with our effective email marketing campaigns. We create
                personalized and engaging content that keeps your brand top of
                mind.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_reviewmanagement.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">REPUTATION MANAGEMENT</h5>
              <p class="mb-4">
                Online reputation is crucial for business success. Our review
                management services help you monitor, respond to, and leverage
                customer reviews to enhance your brand image and credibility.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_socialmedia.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">SOCIAL MEDIA MARKETING</h5>
              <p class="mb-4">
                Amplify your brand's presence on social media platforms with our
                strategic SMM services. We create engaging content, manage your
                social media accounts, and drive meaningful interactions.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_seo.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">SEARCH ENGINE OPTIMIZATION</h5>
              <p class="mb-4">
                Improve your website's visibility and organic traffic with our
                SEO expertise. We optimize your website's structure, content,
                and meta tags to rank higher in search engine results.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/CM_content.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">CONTENT MARKETING</h5>
              <p class="mb-4">
                Our content marketing services create engaging and informative
                content that captivates your audience, boosts brand awareness,
                and drives valuable organic traffic to your website for
                long-term business growth.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="credibility-container">
    <div class="credibility-header">
      <h3 class="bold-text text-white">
        OUR <span class="text-title-color">CREDIBILITY</span>
      </h3>
    </div>
    <div class="credibility-main">
      <div
        class="swiper"
        style="
          margin: 20px auto;
          background-color: transparent;
          box-shadow: none;
          padding: 50px 10px;
          width: 90%;
        "
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/joomla.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/figma.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/canva.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/corel.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/node.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/react.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/shopify.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/hadoop.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/express.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/python.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/php.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/g_m_b.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/ads_360.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/google_ads.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/google_shopping.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/google_tag_manager.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/google_analytics.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/search_engine_console.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/flutter.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/drupal.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/elementor.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/react_native.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/xamarin.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/wix.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/angular.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/aws.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/azure.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/web_creatives/magento.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="automating-container">
    <div class="automating-header d-g mt-5">
      <div class="automating-title">
        <h3 class="bold-text">
          AUTOMATE <span class="text-title-color">& SCALE</span>
        </h3>
        <p class="my-4">
          Leverage the potential of automation and scalability with Digital
          Benders, the premier digital marketing agency. Enhance your brand's
          online impact through our wide-ranging services, spanning social media
          marketing, SEO, SEM, call-action tracking, data analytics, and
          reporting. Achieve targeted results, optimize your online presence,
          and harness data-driven insights with Digital Bender's
          state-of-the-art solutions.
        </p>
        <a href="/become-client">Get Started</a>
      </div>
      <div class="automating-image">
        <img
          src="https://www.creativesquad.ca/images/design_build.png"
          alt="..."
        />
      </div>
    </div>
    <div class="automating-main" style="margin-top: -130px">
      <div class="swiper custom-swiper">
        <div class="swiper-wrapper">
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/AS_cat.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">CALL ACTION TRACKING</h5>
              <p class="mb-4">
                Gain valuable insights into your marketing campaigns and
                customer interactions with our call-action tracking services. We
                track and analyze call data to help you make data-driven
                decisions.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/AS_dataanalytics.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">DATA ANALYSIS & REPORTING</h5>
              <p class="mb-4">
                Measure the success of your digital marketing efforts with our
                robust data analytics and reporting services. We provide
                detailed insights to understand your performance and make
                informed decisions.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/AS_liveChat.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">LIVE CHAT SOLUTIONS</h5>
              <p class="mb-4">
                With our live chat solution support, you can provide instant
                customer support, increase website conversions, and deliver
                personalized experiences that build trust and loyalty, while
                enhancing your customer satisfaction.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/AS_crm.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">CRM INTEGRATION</h5>
              <p class="mb-4">
                Elevate your customer interactions and optimize operational
                efficiency by integrating powerful CRM systems seamlessly into
                your existing infrastructure. Benefit from enhanced data
                management and personalized customer experiences.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <div class="swiper-image">
              <img
                src="https://www.creativesquad.ca/images/AS_API.svg"
                alt="..."
              />
            </div>
            <div class="swiper-content">
              <h5 class="bold-text my-3">API INTEGRATION</h5>
              <p class="mb-4">
                Our API integration services seamlessly connect your systems,
                enabling smooth data exchange, streamlining processes, and
                unlocking new opportunities for automation, efficiency, and
                innovation, giving your business a competitive edge.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="case-studies-container text-center">
    <h6 class="bold-text text-title-color">CASE STUDIES</h6>
    <h3 class="bold-text text-title-size">
      PREVIEW FROM OUR <span class="text-title-color">PORTFOLIO</span>
    </h3>
    <div class="slider-container">
      <div class="slider">
        <div class="slide-track d-f">
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734104206009-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>
                  Revitalizing Digital Marketing for PhysioTec Rehab & Wellness
                </p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103764829-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>Habster Boutique’s E-Commerce Revamp</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103482235-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>Inner Find’s Digital Transformation</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734103180748-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>
                  Driving Sales with Optimized Google Ads for Fully Promoted
                  Heartland
                </p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>

          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734102941258-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>
                  Driving Sales with Optimized Google Ads for Fully Promoted
                  Meadowville
                </p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734101468252-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>
                  Driving Sales with Optimized Google Ads for Fully Promoted
                  Richmond Hill
                </p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734100654262-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>Strengthening Personal Branding for Raj Kalsi Real Estate</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734100227582-Thumbnail.jpg"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>Social Media &amp; SEO Transformation for Graha Chaal</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734101063699-Thumbnail.jpg"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>SWO &amp; Google Ads Revamp For Tutor Docter</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
          <div class="slide">
            <a href="#">
              <img
                src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1734098952230-Thumbnail.webp"
              />
              <div
                class="case-study-text text-title-color text-center bold-text"
              >
                <p>Comprehensive Marketing Boost for Triplets Homes</p>
              </div>
              <a href="#" class="view-case-study text-center bold-text"
                >View Case Study <span><i class="fas fa-arrow-right"></i></span
              ></a>
            </a>
          </div>
        </div>
      </div>
      <a
        href="#"
        class="explore-case-studies-btn bold-text text-center text-title-color"
        >Explore All <i class="fas fa-arrow-right"></i
      ></a>
    </div>
  </div>
  <div class="FAQ-section">
    <div class="FAQ-heading">
      <h6 class="text-title-size bold-text">
        FREQUENTLY ASKED
        <span class="text-title-color">QUESTIONS</span>
      </h6>
    </div>

    <div class="FAQs">
      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          Why should I choose a Canadian digital media agency?
          <span id="icon-5" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Canadian agencies have local market expertise, understand regional
          consumer behavior, and comply with local regulations, ensuring
          campaigns are effective and legally sound.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          How can digital media services boost my online presence?
          <span id="icon-6" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Services like social media management, SEO, and content marketing
          increase brand visibility, drive targeted traffic, and improve
          engagement across digital platforms.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          Can I target audiences in specific Canadian provinces or cities?
          <span id="icon-7" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Yes, we can create hyper-local campaigns targeting specific provinces,
          cities, or even neighborhoods to reach the right audience effectively.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          What types of digital media campaigns do you offer?
          <span id="icon-8" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          We provide social media marketing, paid advertising, content
          marketing, email campaigns, influencer collaborations, and full
          digital branding services.
        </div>
      </div>
    </div>

    <div class="connect-prompt">
      <img
        src="https://www.creativesquad.ca/images/faqs_people.png"
        alt="..."
      />
      <p class="bold-text">Still have questions?</p>
      <p>
        Can't find the answer you're looking for?<br />
        Let's Connect.
      </p>
    </div>
  </div>
  <div class="contact-section d-g text-white">
    <div class="idea-prompt d-f">
      <p style="margin-left: 5px">Let's Talk</p>
      <h6 class="text-title-size">
        Got An Idea?<br />
        <span class="bold-text">Let's get in touch!</span>
      </h6>
      <br />
      <p>
        Let's discuss your project and find out what we can do to provide value.
      </p>
    </div>
    <div class="submit-form d-f">
      <h6>Enter your details to get started.</h6>
      <form class="form" action="/">
        <input type="text" placeholder="Your Full Name" required />
        <input
          type="text"
          pattern="[\d\s\(\)]*"
          placeholder="Your Phone Number"
          required
        />
        <input type="email" placeholder="Your Email Address" required />
        <input type="text" placeholder="Enter Project Type" required />

        <div id="spinner-overlay" style="z-index: 9999">
          <div
            class="spinner-border spinner spinner-border-sm"
            role="status"
            style="display: none; margin: 0 0 15px 47px"
          ></div>
        </div>

        <button class="submit-btn bold-text">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/Javascripts/DIGITAL MEDIA SERVICES/digital-media-services-js/services.js"></script>

<script src="/Javascripts/DIGITAL MEDIA SERVICES/digital-media-services-js/developmentBtns.js"></script>

<script src="/Javascripts/DIGITAL MEDIA SERVICES/digital-media-services-js/FAQ.js"></script>

<script src="/Javascripts/DIGITAL MEDIA SERVICES/digital-media-services-js/contact.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
