<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Benders</title>

    <!-- All Links -->
    <%- include(`../../all-the-things/links`) %>

    <!-- Restrictions CSS -->
    <link rel="stylesheet" href="/stylesheet/restrictions/restrict.css" />
  </head>
  <body>
    <!-- Overlay (full-screen) -->
    <div id="flash"></div>

    <div id="barba-wrapper" style="width: 100%" data-barba="wrapper">
      <main data-barba="container"><%- body %></main>
    </div>

    <!-- All Scripts -->
    <%- include(`../../all-the-things/scripts`) %>
  </body>
</html>
