<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
  </head>
  <body>
    <div>
      <style>
        body {
          font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
          height: 100vh;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        h1 {
          border-right: 1px solid rgba(0, 0, 0, 0.3);
          display: inline-block;
          margin: 0 20px 0 0;
          padding: 0 23px 0 0;
          font-size: 24px;
          font-weight: 500;
          vertical-align: top;
          line-height: 49px;
        }

        h2 {
          font-size: 14px;
          font-weight: 400;
          line-height: 49px;
          margin: 0;
        }

        .links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 35px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          font-weight: 600;
          gap: 5px;
          margin-bottom: 10px;
        }
      </style>
      <h1>404</h1>
      <div style="display: inline-block">
        <h2>This page could not be found.</h2>
      </div>
      <div class="links">
        <a href="/">
          <img src="/assets/images/home-icon.svg" alt="Home Icon" />
          Home
        </a>
        <a href="/blogs" style="margin-left: -5px">
          <img src="/assets/images/article-icon.svg" alt="Blogs Icon" />
          Blogs
        </a>
        <a href="/contact" style="margin-right: -12px">
          <img src="/assets/images/contact-icon.svg" alt="Contact Icon" />
          Contact
        </a>
      </div>
    </div>
  </body>
</html>
