<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheet/error/error.css" />
  </head>
  <body>
    <div>
      <h1><%= code %></h1>

      <div style="display: inline-block">
        <h2><%= message %></h2>
      </div>

      <div class="links">
        <a href="/">
          <img
            src="/assets/images/home-icon.svg"
            alt="Home Icon"
            loading="lazy"
            decoding="async"
          />
          Home
        </a>

        <a href="/blogs" style="margin-left: -5px">
          <img
            src="/assets/images/article-icon.svg"
            alt="Blogs Icon"
            loading="lazy"
            decoding="async"
          />
          Blogs
        </a>

        <a href="/contact" style="margin-right: -12px">
          <img
            src="/assets/images/contact-icon.svg"
            alt="Contact Icon"
            loading="lazy"
            decoding="async"
          />
          Contact
        </a>
      </div>
    </div>
  </body>
</html>
