<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/landing-page/landing-page.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="landing-page-container">
  <section class="full-width section-1">
    <div class="hero">
      <video
        class="hero__video"
        src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1722700626770-video.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video>
      <div class="hero__content">
        <h1 class="hero__title">
          <span>Elevating</span> <br />
          Businesses Digitally
        </h1>
        <h3 class="hero__subtitle">
          Your trusted partner for <span>Digital Media Solutions</span>
        </h3>
      </div>
      <div class="hero__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.gstatic.com/partners/badge/images/2024/PartnerBadgeClickable.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/clutch.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/design_rush.jpeg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/trustpilot.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/bni.jpg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/top1.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-2">
    <div class="providing-results-container">
      <header>
        <h2 class="title">
          How we provide
          <br />
          <span>results</span>
        </h2>
        <p class="description">
          We don't just talk strategy – we deliver real results, proven by the
          success stories of our amazing clients. We take pride in building
          long-term partnerships and tailoring our strategies to each client's
          unique goals. We understand the unique needs and landscape of the
          Canadian market, giving you a strategic edge.
        </p>
      </header>
      <div class="results-cards">
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon1.svg"
              alt="Innovative Ideas Picture"
            />
          </div>
          <div class="card__content">
            <h3>Innovative Ideas</h3>
            <p>
              Explore a wide range of groundbreaking and creative ideas to
              enhance your digital media endeavors.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon2.svg"
              alt="Personalized Solutions Picture"
            />
          </div>
          <div class="card__content">
            <h3>Personalized Solutions</h3>
            <p>
              Receive customized and bespoke digital marketing and web solutions
              designed specifically for your individual business requirements.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon3.svg"
              alt="ROI Focused Picture"
            />
          </div>
          <div class="card__content">
            <h3>ROI Focused</h3>
            <p>
              Achieve a laser-focused approach on return on investment (ROI),
              utilizing strategies that deliver tangible and quantifiable
              outcomes.
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="testimonials-cards-container">
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/U1USZs8AoQ0"
            title="Another Success Stories - TRU Off Grid #clienttestimonial #happyclient"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">TRU Off Grid</h3>
          <p class="card__description">Their satisfaction motivates us</p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/L_thYvisr8s"
            title="See why clients trust Creative Squad to drive their business forward."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">Empowerment Project</h3>
          <p class="card__description">
            Proud to highlight our client's journey
          </p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/emRxmtX9FNE"
            title="Client Success Story: Transforming Visions into Results with Creative Squad"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">Meadows Equine</h3>
          <p class="card__description">
            Proud to highlight our client's journey
          </p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="full-width section-3"></section>
  <section class="full-width section-4"></section>
  <section class="full-width section-5"></section>
  <section class="full-width section-6"></section>
  <section class="full-width section-7"></section>
  <section class="full-width section-8"></section>
  <section class="full-width section-9"></section>
  <section class="full-width section-10"></section> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- JS -->
<script src="/javascript/landing-page/swiper.js"></script>
