<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/landing-page/landing-page.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="landing-page-container">
  <section class="full-width section-1">
    <div class="hero">
      <video
        class="hero__video"
        src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1722700626770-video.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video>
      <div class="hero__content">
        <h1 class="hero__title">
          <span>Elevating</span> <br />
          Businesses Digitally
        </h1>
        <h3 class="hero__subtitle">
          Your trusted partner for <span>Digital Media Solutions</span>
        </h3>
      </div>
      <div class="hero__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.gstatic.com/partners/badge/images/2024/PartnerBadgeClickable.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/clutch.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/design_rush.jpeg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/trustpilot.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/bni.jpg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/top1.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-2">
    <div class="providing-results-container">
      <header>
        <h2 class="title">
          How we provide
          <br />
          <span>results</span>
        </h2>
        <p class="description">
          We don't just talk strategy – we deliver real results, proven by the
          success stories of our amazing clients. We take pride in building
          long-term partnerships and tailoring our strategies to each client's
          unique goals. We understand the unique needs and landscape of the
          Canadian market, giving you a strategic edge.
        </p>
      </header>
      <div class="results-cards">
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon1.svg"
              alt="Innovative Ideas Picture"
            />
          </div>
          <div class="card__content">
            <h3>Innovative Ideas</h3>
            <p>
              Explore a wide range of groundbreaking and creative ideas to
              enhance your digital media endeavors.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon2.svg"
              alt="Personalized Solutions Picture"
            />
          </div>
          <div class="card__content">
            <h3>Personalized Solutions</h3>
            <p>
              Receive customized and bespoke digital marketing and web solutions
              designed specifically for your individual business requirements.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon3.svg"
              alt="ROI Focused Picture"
            />
          </div>
          <div class="card__content">
            <h3>ROI Focused</h3>
            <p>
              Achieve a laser-focused approach on return on investment (ROI),
              utilizing strategies that deliver tangible and quantifiable
              outcomes.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- <section class="full-width section-3"></section>
  <section class="full-width section-4"></section>
  <section class="full-width section-5"></section>
  <section class="full-width section-6"></section>
  <section class="full-width section-7"></section>
  <section class="full-width section-8"></section>
  <section class="full-width section-9"></section>
  <section class="full-width section-10"></section> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- JS -->
<script src="/javascript/landing-page/swiper.js"></script>
