<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/landing-page/landing-page.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="landing-page-container">
  <section class="full-width section-1">
    <div class="hero">
      <video
        class="hero__video"
        src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1722700626770-video.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video>
      <div class="hero__content">
        <h1 class="hero__title">
          <span>Elevating</span> <br />
          Businesses Digitally
        </h1>
        <h3 class="hero__subtitle">
          Your trusted partner for <span>Digital Media Solutions</span>
        </h3>
      </div>
      <div class="hero__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.gstatic.com/partners/badge/images/2024/PartnerBadgeClickable.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/clutch.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/design_rush.jpeg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/trustpilot.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/bni.jpg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img
                src="https://www.creativesquad.ca/images/top1.svg"
                alt="..."
                class="swiper__image"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-2">
    <div class="providing-results-container">
      <header>
        <h2 class="title">
          How we provide
          <br />
          <span>results</span>
        </h2>
        <p class="description">
          We don't just talk strategy – we deliver real results, proven by the
          success stories of our amazing clients. We take pride in building
          long-term partnerships and tailoring our strategies to each client's
          unique goals. We understand the unique needs and landscape of the
          Canadian market, giving you a strategic edge.
        </p>
      </header>
      <div class="results-cards">
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon1.svg"
              alt="Innovative Ideas Picture"
            />
          </div>
          <div class="card__content">
            <h3>Innovative Ideas</h3>
            <p>
              Explore a wide range of groundbreaking and creative ideas to
              enhance your digital media endeavors.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon2.svg"
              alt="Personalized Solutions Picture"
            />
          </div>
          <div class="card__content">
            <h3>Personalized Solutions</h3>
            <p>
              Receive customized and bespoke digital marketing and web solutions
              designed specifically for your individual business requirements.
            </p>
          </div>
        </article>
        <article class="card">
          <div class="card__image">
            <img
              src="https://www.creativesquad.ca/images/icons/roi_icon3.svg"
              alt="ROI Focused Picture"
            />
          </div>
          <div class="card__content">
            <h3>ROI Focused</h3>
            <p>
              Achieve a laser-focused approach on return on investment (ROI),
              utilizing strategies that deliver tangible and quantifiable
              outcomes.
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="testimonials-cards-container">
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/U1USZs8AoQ0"
            title="Another Success Stories - TRU Off Grid #clienttestimonial #happyclient"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">TRU Off Grid</h3>
          <p class="card__description">Their satisfaction motivates us</p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/L_thYvisr8s"
            title="See why clients trust Creative Squad to drive their business forward."
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">Empowerment Project</h3>
          <p class="card__description">
            Proud to highlight our client's journey
          </p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="https://www.youtube.com/embed/emRxmtX9FNE"
            title="Client Success Story: Transforming Visions into Results with Creative Squad"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title">Meadows Equine</h3>
          <p class="card__description">
            Proud to highlight our client's journey
          </p>
          <a href="#" class="card__link"
            >View Case Study
            <span
              ><svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path></svg></span
          ></a>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-3">
    <div class="about-company-container">
      <header>
        <h3 class="about-company__title">
          Diverse portfolio of <br />
          <span>thriving B2B & B2C businesses</span>
        </h3>
        <p class="about-company__description">
          Over the years, Digital Benders has had the privilege of partnering
          with diverse industries. We have left our mark on numerous sectors,
          from e-commerce giants to healthcare providers, hospitals to
          educational institutions.
        </p>
        <div class="about-company__lists">
          <ul class="about-company__list">
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_sport.png"
                  alt="Professional Sports Image"
                  loading="lazy"
                />
              </span>
              Professional Sports
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_construction.png"
                  alt="Construction Image"
                  loading="lazy"
                />
              </span>
              Construction
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_healthcare.png"
                  alt="Healthcare Image"
                  loading="lazy"
                />
              </span>
              Healthcare
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_hospitality.png"
                  alt="Hospitality Image"
                  loading="lazy"
                />
              </span>
              Hospitality
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_realestate.png"
                  alt="Real Estate Image"
                  loading="lazy"
                />
              </span>
              Real Estate
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_education.png"
                  alt="Education Image"
                  loading="lazy"
                />
              </span>
              Education
            </li>
          </ul>
          <ul class="about-company__list">
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_automotive.png"
                  alt="Automotive Image"
                  loading="lazy"
                />
              </span>
              Automotive
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_technology.png"
                  alt="Technology Image"
                  loading="lazy"
                />
              </span>
              Technology
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_ecommerce.png"
                  alt="E-commerce Image"
                  loading="lazy"
                />
              </span>
              E-commerce
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_finance.png"
                  alt="Finance Image"
                  loading="lazy"
                />
              </span>
              Finance
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_retail.png"
                  alt="Retail Image"
                  loading="lazy"
                />
              </span>
              Retail
            </li>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="https://www.creativesquad.ca/images/icons/portfolio_legal.png"
                  alt="Legal Image"
                  loading="lazy"
                />
              </span>
              Legal
            </li>
          </ul>
        </div>
      </header>
      <div class="about-company__main-image">
        <img
          src="https://www.creativesquad.ca/images/creatives/about-img-1.webp"
          alt="About Company Main Image"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section class="full-width section-4">
    <div class="brand-growing-container">
      <header>
        <h3 class="brand-growing__header">
          Customized Digital Media <br />
          <span>Solutions for your business goals</span>
        </h3>
        <div class="brand-growing__btns">
          <button class="brand-growing__btn" data-card="card-1">
            Custom <br />
            Development
          </button>
          <button class="brand-growing__btn" data-card="card-2">
            Digital <br />
            Marketing
          </button>
          <button class="brand-growing__btn" data-card="card-3">
            App <br />
            Development
          </button>
          <button class="brand-growing__btn" data-card="card-4">
            Creative <br />
            Services
          </button>
          <button class="brand-growing__btn" data-card="card-5">
            Marketing <br />
            Strategy
          </button>
        </div>
      </header>
      <div class="brand-growing__cards">
        <!-- Card 1 -->
        <div class="brand-growing__card" id="card-1">
          <div class="card__main-image">
            <img
              src="https://www.creativesquad.ca/images/creatives/BG_web.webp"
              alt="Custom Development Image"
              loading="lazy"
            />
          </div>
          <div class="card__content-container">
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Scalable Solutions
              </h4>
              <p>
                We create tailored web solutions that grow with your business.
                Each project is built to handle future demands efficiently.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Seamless Integration
              </h4>
              <p>
                Our custom systems connect smoothly with your existing tools.
                This saves you time and avoids unnecessary complexity.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Optimized Performance
              </h4>
              <p>
                Every solution is designed for speed, reliability, and
                efficiency. You get tools that work faster while consuming fewer
                resources.
              </p>
            </div>
            <a
              class="card__button btn-invert"
              href="/web-design-and-development-service-in-pakistan"
              >Read More</a
            >
          </div>
        </div>

        <!-- Card 2 -->
        <div class="brand-growing__card" id="card-2">
          <div class="card__main-image">
            <img
              src="https://www.creativesquad.ca/images/creatives/BG_digital.webp"
              alt="Digital Marketing Image"
              loading="lazy"
            />
          </div>
          <div class="card__content-container">
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Data-Driven Campaigns
              </h4>
              <p>
                We focus on strategies backed by real analytics for maximum
                impact. This ensures your budget delivers stronger results.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Social Media Growth
              </h4>
              <p>
                Build a strong presence across platforms with engaging content.
                We craft campaigns that actually drive interaction and trust.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                SEO Excellence
              </h4>
              <p>
                Our SEO methods improve visibility and attract organic traffic.
                You’ll rank higher while reaching the right audience faster.
              </p>
            </div>
            <a
              class="card__button btn-invert"
              href="/social-media-marketing-service-in-pakistan"
              >Read More</a
            >
          </div>
        </div>

        <!-- Card 3 -->
        <div class="brand-growing__card" id="card-3">
          <div class="card__main-image">
            <img
              src="https://www.creativesquad.ca/images/creatives/BG_app.webp"
              alt="App Development Image"
              loading="lazy"
            />
          </div>
          <div class="card__content-container">
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Cross-Platform Apps
              </h4>
              <p>
                We develop apps that run smoothly on Android and iOS alike. This
                way, your users get a consistent experience everywhere.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                User-Friendly Design
              </h4>
              <p>
                Apps are designed with intuitive interfaces and smooth
                navigation. The result is higher engagement and satisfied users.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Secure & Reliable
              </h4>
              <p>
                We prioritize app security with reliable protection methods.
                Your users enjoy safe, stable, and worry-free performance.
              </p>
            </div>
            <a
              class="card__button btn-invert"
              href="/app-development-service-in-pakistan"
              >Read More</a
            >
          </div>
        </div>

        <!-- Card 4 -->
        <div class="brand-growing__card" id="card-4">
          <div class="card__main-image">
            <img
              src="https://www.creativesquad.ca/images/creatives/BG_creative.webp"
              alt="Creative Services Image"
              loading="lazy"
            />
          </div>
          <div class="card__content-container">
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Engaging Designs
              </h4>
              <p>
                Our team produces visuals that capture attention instantly.
                Every design communicates your brand’s unique identity
                effectively.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Strong Branding
              </h4>
              <p>
                We help your business stand out with bold, creative concepts.
                This builds trust and a memorable impression in the market.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Multimedia Content
              </h4>
              <p>
                From videos to graphics, we deliver dynamic creative assets.
                These materials are tailored to keep your audience engaged
                longer.
              </p>
            </div>
            <a
              class="card__button btn-invert"
              href="/user-interface-experience-service-in-pakistan"
              >Read More</a
            >
          </div>
        </div>

        <!-- Card 5 -->
        <div class="brand-growing__card" id="card-5">
          <div class="card__main-image">
            <img
              src="https://www.creativesquad.ca/images/creatives/BG_marketing.webp"
              alt="Marketing Strategy Image"
              loading="lazy"
            />
          </div>
          <div class="card__content-container">
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Targeted Planning
              </h4>
              <p>
                We design marketing strategies that focus directly on your
                goals. This ensures every campaign is both purposeful and
                efficient.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Market Insights
              </h4>
              <p>
                Our research identifies trends and opportunities to guide your
                growth. You gain a clear advantage in decision-making and
                execution.
              </p>
            </div>
            <div class="card__content">
              <h4>
                <span
                  ><img
                    src="https://www.creativesquad.ca/images/icons/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                /></span>
                Performance Tracking
              </h4>
              <p>
                We measure campaign results with precision for ongoing
                improvement. This allows strategies to stay aligned with your
                objectives.
              </p>
            </div>
            <a
              class="card__button btn-invert"
              href="/marketing-strategy-service-in-pakistan"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-5">
    <div class="services-container">
      <header>
        <h3 class="services__header">
          Integrated, Progressive, Sales & <br />
          <span>Digital Media Solutions</span>
        </h3>
      </header>
      <div class="services-cards-container">
        <div class="services__card">
          <div class="shown__card">
            <div class="card__header">
              <div class="card-header-inner">
                <div class="card__main-image">
                  <img
                    src="https://www.creativesquad.ca/images/icons/img1.svg"
                    alt="Design & Build Image"
                  />
                </div>
                <h4 class="card__title">Design & Build</h4>
              </div>
            </div>
            <div class="card__content">
              <div class="card__content-inner">
                <p class="card__description">
                  From intuitive navigation to seamless responsiveness across
                  devices, we prioritize every aspect to deliver an exceptional
                  user experience through exceptional web design & development
                  services.
                </p>
                <div class="card__changer">
                  Learn More
                  <img
                    src="https://www.creativesquad.ca/images/icons/plus.svg"
                    alt="Addition Image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="hidden__card">
            <div class="card__header">
              <div class="card__header-inner">
                <div class="card__main-image">
                  <img
                    src="https://www.creativesquad.ca/images/icons/img4.svg"
                    alt="Design & Build Image"
                  />
                </div>
                <h4 class="card__title">Design & Build</h4>
              </div>
            </div>
            <div class="card__content">
              <div class="card__content-inner">
                <p class="card__description">
                  From intuitive navigation to seamless responsiveness across
                  devices, we prioritize every aspect to deliver an exceptional
                  user experience through exceptional web design & development
                  services.
                </p>
                <div class="card__changer">
                  Learn More
                  <img
                    src="https://www.creativesquad.ca/images/icons/plus.svg"
                    alt="Addition Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services__card"></div>
        <div class="services__card"></div>
      </div>
    </div>
  </section>
  <!-- <section class="full-width section-6"></section>
  <section class="full-width section-7"></section>
  <section class="full-width section-8"></section>
  <section class="full-width section-9"></section>
  <section class="full-width section-10"></section> -->
</div>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- JS -->
<script src="/javascript/landing-page/swiper.js"></script>
<script src="/javascript/landing-page/growing-business.js"></script>
<script src="/javascript/landing-page/services-card.js"></script>
