<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/portfolio/portfolio.css" />

<div class="portfolio-container">
  <header class="portfolio-header">
    <div class="col">
      <h1><span>Case</span> Studies</h1>
      <p>
        Welcome to our captivating world of innovation and imagination. It might
        be a project for you, but for us, it’s all about results. Dive into our
        portfolio and witness the extraordinary work that defines us.
      </p>
    </div>
    <div class="col">
      <img
        src="/assets/images/portfolio-header-image.png"
        alt="Portfolio Header Image"
        style="display: none"
      />
    </div>
  </header>
  <main class="portfolio-main"></main>
</div>
