<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/privacy-policy/privacy-policy.css" />

<div class="privacy-policy-container">
  <header class="full-width">
    <h1 class="privacy-policies__title">Privacy Policy</h1>
  </header>
  <div class="privacy-policies">
    <% data.privacyPolicies.forEach(privacyPolicy => { %>
    <div class="privacy-policy">
      <h2 class="privacy-policy__title"><%= privacyPolicy.title %></h2>
      <p class="privacy-policy__description">
        <%= privacyPolicy.description %>
      </p>
    </div>
    <% }); %>
  </div>
</div>
