<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link
  rel="stylesheet"
  href="/stylesheet/production-service-in-canada/production-service-in-canada.css"
/>

<div class="production-service-container">
  <header class="production-service__header">
    <div class="column-container">
      <div class="col">
        <h1><span>Product</span> Photography</h1>
        <p>Picture perfect product photography and videography in Canada</p>
        <a href="/contact" id="contact-btn">Get Started</a>
      </div>
      <div class="col">
        <div class="production-service__main-image">
          <img
            src="/assets/images/photography-header-image.png"
            alt="Photography Image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="production-service-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/assets/images/sony-image.png"
            alt="Sony Image"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/images/arri-image.png"
            alt="Arri Image"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/images/canon-image.png"
            alt="Canon Image"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/images/blackmagicdesign-image.png"
            alt="Black Magic Design Image"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/images/soundforge-image.png"
            alt="Sound Forge Image"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <section class="design-services">
      <h3>Eye-catching <span>Visuals</span></h3>
      <p>
        Visit our portfolio to witness the magic we have created for other
        satisfied clients - shaping brands
      </p>

      <div class="design-services__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-1.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-2.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-3.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-4.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-5.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-6.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-7.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-8.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="/assets/images/photography-image-9.png"
              alt="Photography Image"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="photography-services">
      <div class="photography-service odd">
        <div class="photography-service__main-image">
          <img
            src="/assets/images/photography-services-image-4.png"
            alt="Photography Image"
          />
        </div>
        <div class="photography-service__content">
          <h4 id="heading-1">
            Video Ads & <br />
            <span>Digital Commerce</span>
          </h4>
          <p>
            Transform concepts into captivating stories with our video ads and
            digital commercials. Engage your audience and leave a lasting impact
            with dynamic visuals and narratives.
          </p>
          <a href="/contact">Get Started</a>
        </div>
      </div>
      <div class="photography-service even">
        <div class="photography-service__main-image">
          <img
            src="/assets/images/photography-services-image-1.png"
            alt="Photography Image"
          />
        </div>
        <div class="photography-service__content">
          <h4 id="heading-2">
            Fashion <br />
            <span>Photography</span>
          </h4>
          <p>
            Capture the essence of style with our fashion photography. Elevate
            your brand's image through expertly crafted visuals that showcase
            your designs in all their glory.
          </p>
          <a href="/contact">Get Started</a>
        </div>
      </div>
      <div class="photography-service odd">
        <div class="photography-service__main-image">
          <img
            src="/assets/images/photography-services-image-2.png"
            alt="Photography Image"
          />
        </div>
        <div class="photography-service__content">
          <h4 id="heading-3">
            E-commerce
            <br />
            <span>Photogprahy</span>
          </h4>
          <p>
            Drive sales and engagement with our e-commerce photography. We craft
            visually stunning images that transform products into irresistible
            must-haves, captivating your customers and boosting conversions.
          </p>
          <a href="/contact">Get Started</a>
        </div>
      </div>
      <div class="photography-service even">
        <div class="photography-service__main-image">
          <img
            src="/assets/images/photography-services-image-3.png"
            alt="Photography Image"
          />
        </div>
        <div class="photography-service__content">
          <h4 id="heading-4">
            Food <br />
            <span>Photography</span>
          </h4>
          <p>
            Savour the art of cuisine with our delectable food photography. From
            tantalising dishes to culinary creations, we capture the flavours
            that make your food irresistible.
          </p>
          <a href="/contact">Get Started</a>
        </div>
      </div>
    </section>
  </main>
</div>

<!-- Swiper.js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- JS -->
<script src="/javascript/production-service-in-canada/swiper.js"></script>
