<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/seo-analysis/seo-analysis.css" />

<div class="seo-analysis-container">
  <header>
    <div class="column">
      <h1 class="seo-analysis__title">
        Comprehensive SEO Analysis for <br />
        <span>startups, SMBs, and enterprises</span>
      </h1>
      <h4>What's Your Website's Optimization Score?</h4>

      <div id="spinner-overlay" class="overlay" style="z-index: 9999">
        <div
          class="spinner-border spinner analysis-spinner text-white spinner-border-md"
          role="status"
        ></div>
      </div>

      <form class="seo-analysis__form">
        <input
          type="text"
          class="seo-analysis__input"
          required
          placeholder="Enter Name"
        />
        <input
          type="email"
          class="seo-analysis__input"
          required
          placeholder="Enter Email Address"
        />
        <input
          type="text"
          id="customNumberInput"
          class="seo-analysis__input"
          placeholder="Enter Phone Number"
          required
        />
        <div class="url__checking-row">
          <input
            type="url"
            class="seo-analysis__input"
            placeholder="Enter Website URL"
            id="url-input"
            required
          />

          <button class="submit__form" id="url-btn" type="submit">
            Analyze
          </button>
        </div>
      </form>
    </div>
  </header>
</div>

<script src="/javascript/seo-analysis/contact.js"></script>
