@import url("/stylesheet/utils/utils.css");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  color: #ffffff;
}

.sidebar {
  background-color: #1f1e1e;
  min-height: 100vh;
  max-width: 57.4px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;

  & ul {
    padding-left: 0;
  }
}

.sidebar-logo {
  max-width: 9.786rem;
  margin-bottom: var(--size-3xl);
  cursor: e-resize;
  height: auto;
}

.settings-icon,
.theme-icon {
  position: absolute;
  height: auto;
  cursor: pointer;
}

.settings-icon {
  bottom: 12px;
  left: 18px;
  max-width: var(--size-xl);
  transition: left 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.theme-icon {
  max-width: var(--size-7xl);
  bottom: 35px;
  left: -8px;
  opacity: 1;
  transition: left 0.5s ease-in-out, opacity 0.4s ease-in-out;

  &.fade {
    opacity: 0;
  }
}

.change-margin {
  bottom: 42px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.link {
  font-weight: 600;
  font-family: var(--mulish-font);
  cursor: pointer;
  width: max-content;
}

.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  transition: color 0.3s ease-in-out;

  &.active,
  &:hover {
    color: rgb(228, 227, 227);
  }
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--admin-clr-accent);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.underline:hover::after,
.underline.active::after {
  transform: scaleX(1);
}

.logoutBtn {
  text-decoration: none;
  color: var(--admin-clr-accent);
  background-color: #1f1e1e;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: var(--size-sm);
}

.btn-red,
.btn-green {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.btn-red {
  background-color: rgb(204, 51, 51);
  margin-right: 1rem;
}

.btn-green {
  background-color: rgb(17, 156, 17);
}
