@import url("/stylesheet/utils/utils.css");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  color: #000;
}

.sidebar {
  background-color: #f7f7f7;
  min-height: 100vh;
  max-width: 64px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;

  & ul {
    padding-left: 0;
  }

  &.open {
    max-width: 200px;
  }
}

.sidebar-logo {
  width: 10.63rem;
  margin-bottom: var(--size-4xl);
  cursor: e-resize;
  height: auto;
}

.footer__image {
  height: auto;
  cursor: pointer;
}

.footer__text {
  font-weight: 600;
}

.links,
.sidebar__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-2_75xl);
  opacity: 1;
  pointer-events: auto;
}

.sidebar__footer {
  position: absolute;
  left: 17px;
  gap: var(--size-sm);
  bottom: var(--size-xl);
}

.link__row,
.footer__row {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
}

.link,
.footer__row {
  font-weight: 600;
  font-family: var(--mulish-font);
  cursor: pointer;
  width: 100%;
}

.link {
  margin-left: 3px;
}

.link__image {
  width: 26px;
  height: 26px;
}

#settings-icon {
  width: var(--size-3xl);
  transition: transform 0.3s ease-in-out;
}

#logout-icon {
  width: var(--size-3xl);
  transform: rotate(90deg);
}

.link__text,
.footer__text {
  margin-bottom: 0;
}

.sidebar.open .link__text,
.sidebar.open .footer__text {
  opacity: 1;
}

.link__text,
.footer__text {
  position: relative;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.4s ease;
  white-space: nowrap;
}

/* underline element (hidden by scaleX(0) initially) */
.link__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px; /* adjust for spacing under text */
  height: 2px;
  width: 100%;
  background: var(--admin-clr-accent);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.9s cubic-bezier(0.2, 0.9, 0.2, 1);
}

/* show underline on hover or when active */
.link__row:hover .link__text::after,
.link__row.active .link__text::after {
  transform: scaleX(1);
}

/* don't show underline when sidebar is collapsed */
.sidebar:not(.open) .link__text::after {
  display: none;
}

.btn-red,
.btn-green {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.btn-red {
  background-color: rgb(204, 51, 51);
  margin-right: 1rem;
}

.btn-green {
  background-color: rgb(17, 156, 17);
}
