<%- layout(`boilerplate/admin/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/admin/admin-dashboard.css" />

<div class="admin-dashboard">
  <button class="logoutBtn">Logout</button>

  <aside class="sidebar">
    <header class="sidebar-header">
      <img
        src="https://www.creativesquad.ca/images/logo.svg"
        loading="lazy"
        alt="Brand Logo"
        class="sidebar-logo"
      />
    </header>

    <ul class="links">
      <li id="link-1" class="link"><div class="underline">Overview</div></li>
      <li id="link-2" class="link"><div class="underline">Members</div></li>
      <li id="link-3" class="link"><div class="underline">Analytics</div></li>
      <li id="link-5" class="link">
        <div class="underline">Reports</div>
      </li>
      <li id="link-4" class="link">
        <div class="underline">Notifications</div>
      </li>
    </ul>

    <footer class="misc">
      <img
        src="/icons/lightmode - light.png"
        alt="Light Mode Icon"
        class="theme-icon"
        loading="lazy"
      />

      <img
        loading="lazy"
        class="settings-icon"
        src="/icons/gear.png"
        alt="Settings Icon"
      />
    </footer>
  </aside>
</div>

<!-- JS -->
<script src="/javascript/admin/admin-dashboard.js"></script>
