<%- layout(`boilerplate/admin/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/admin/admin-dashboard.css" />

<div class="admin-dashboard">
  <h1>Welcome, Admin</h1>
  <p>You can do whatever you want.</p>

  <button class="logoutBtn">Logout</button>
</div>

<!-- JS -->
<script src="/javascript/admin/admin-dashboard.js"></script>
