<%- layout(`boilerplate/admin/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/admin/admin-login.css" />

<form id="loginForm">
  <div class="col" id="col-1">
    <img src="/assets/images/img-01.png" alt="Login Image" loading="lazy" />
  </div>
  <div class="col" id="col-2">
    <h2>Admin Login</h2>
    <input type="text" id="username" placeholder="Username" required />
    <input type="password" id="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </div>
</form>

<script src="/javascript/admin/admin-login.js"></script>
