<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <style>
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      h1,
      p {
        text-align: center;
      }

      h1 {
        font-weight: 800;
        padding-top: 3rem;
      }

      p {
        font-weight: 500;
      }

      .danger {
        text-decoration: none;
        color: #cb1212;
        background-color: #1c1c1c;
        border: none;
        padding: 15px 35px;
        border-radius: 8px;
        display: flex;
        margin: 25px auto 0 auto;
        font-weight: 700;
        cursor: pointer;
      }

      .assureMsg {
        display: flex;
        opacity: 0;
        position: relative;
        z-index: 10;
        pointer-events: none;
        background-color: #1c1c1c;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
        padding: 1rem 3.5rem;
        height: 250px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -4rem;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        transition: opacity 0.5s ease-in-out;

        & h2 {
          color: white;
        }
      }

      .assureMsg button {
        width: 175px;
        margin-top: 10px;
        text-align: center;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        padding: 0.7rem 3rem;
        cursor: pointer;
      }

      #btn-1 {
        background-color: #730029;
        color: white;
      }

      #btn-2 {
        background-color: #046307;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Welcome, Admin</h1>
    <p>You can do whatever you want.</p>

    <button class="danger">Logout</button>

    <div class="assureMsg">
      <h2>Are You Sure You Want To Logout?</h2>
      <form action="/admin/logout" method="POST">
        <button id="btn-1" class="logout">YES</button>
      </form>
      <button id="btn-2" class="not-logout">NO</button>
    </div>

    <script>
      const token = localStorage.getItem("token");
      const dangerBtn = document.querySelector(".danger");
      const assureMsg = document.querySelector(".assureMsg");
      const notLogoutBtn = document.querySelector(".not-logout");

      notLogoutBtn.addEventListener("click", () => {
        assureMsg.style.pointerEvents = "none";
        assureMsg.style.opacity = "0";
      });

      dangerBtn.addEventListener("click", () => {
        assureMsg.style.pointerEvents = "all";
        assureMsg.style.opacity = "1";
      });

      if (!token) {
        window.location.href = "/admin/login";
      }
    </script>
  </body>
</html>
