@import url("/stylesheet/utils/utils.css");

.faqs-container {
  margin: 0 auto;
}

.faqs-container header {
  text-align: center;
  background: none !important;
}

header .faqs__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--size-2xl);

  & span {
    color: var(--normal-clr-accent);
  }
}

header .image-with-paragraph {
  & p {
    font-size: var(--size-sm);
    font-weight: 500;
  }

  & .faqs__image img {
    max-width: var(--size-9xl);
    height: auto;
    margin: var(--size-2xl) 0 var(--size-xs) 0;
  }
}

header .reassuring-text {
  font-size: var(--size-sm);
  color: var(--muted-clr-accent);
  margin-bottom: var(--size-4xl);
}

.faq {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 0;
  max-width: 92%;
  margin: var(--size-2xl) auto var(--size-lg) auto;

  &:not(.open) {
    & .faq__answer {
      margin-top: 0;
    }
  }
}

.faq__question {
  font-size: var(--size-xs);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--mulish-font);
  display: flex;
  margin-bottom: 0;

  & .faq__toggle {
    margin-left: auto;
    border: none;
    background: none;
  }

  img {
    max-width: 20px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
}

.faq__answer {
  font-size: var(--size-sm);
  color: #949494;
  align-self: center;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq__toggle img {
  transition: transform 0.3s ease-in-out;
}

/* >= 576px */
@media (min-width: 576px) {
  .faqs-container {
    max-width: 520px;
  }
}
/* >= 768px */
@media (min-width: 768px) {
  .faqs-container {
    max-width: 740px;
    margin: 0 auto;
  }

  .faq__question {
    font-size: var(--size-lg);
    margin-bottom: 0.5rem;
  }
}

/* >= 1024px */
@media (min-width: 1024px) {
  .faqs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }

  .faq__question,
  .faq__answer {
    align-self: normal;
    text-align: left;
  }

  .faq__answer {
    margin-top: var(--size-md);
  }

  .faq__question {
    & img {
      max-width: 25px;
    }
  }

  .faqs-container header {
    text-align: left;
  }

  .faq {
    max-width: 100%;
  }
}

/* >= 1400px */
@media (min-width: 1400px) {
  .faqs-container {
    max-width: 1300px;
  }
}
