<%- layout(`Boilerplate/boilerplate`) %>

<link
  rel="stylesheet"
  href="/Stylesheets/PRODUCTION SERVICES/production-services-styles.css"
/>

<%- include('../../Solutions-Card/solutionsCard.ejs') %>

<div class="production-service-container">
  <div class="hero d-g">
    <div class="hero-title">
      <h2 class="bold-text text-white">
        <span class="text-title-color">Product</span> Photography
      </h2>
      <p class="text-white mt-4">
        Transform your brand’s vision into reality with world-class product
        photography and videography in Canada — delivering captivating visuals
        that highlight every detail, elevate your brand identity, and inspire
        customers to connect, trust, and buy.
      </p>
      <a href="/become-client" class="get-started-btn-lg text-white"
        >Get Started</a
      >
    </div>
    <div class="hero-image">
      <img
        src="https://www.creativesquad.ca/images/web_creatives/photography.png"
        alt="..."
      />
    </div>
  </div>
  <div class="production-services-carousel">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/soundforge.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/arri.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/sony.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/canon.png"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://www.creativesquad.ca/images/web_creatives/blackmagicdesign.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="images-presentation-container">
    <div class="images-presentation-header text-center">
      <h3 class="bold-text">
        EYE-CATCHING <span class="text-title-color">VISUALS</span>
      </h3>
      <p class="mt-3">
        Visit our portfolio to witness the magic we’ve crafted for satisfied
        clients— shaping brands through powerful visuals that inspire trust,
        captivate audiences, and leave a lasting impression. Every project
        reflects our commitment to creativity, precision, and impact.
      </p>
    </div>
    <div class="images-presentation-main">
      <div class="swiper custom-swiper">
        <div class="swiper-wrapper">
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-1.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-2.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-3.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-4.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-5.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-6.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-7.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-8.png"
              alt="..."
            />
          </div>
          <div class="custom-swiper-slide swiper-slide">
            <img
              src="https://www.creativesquad.ca/images/creatives/photography-img-9.png"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <!-- 1st Heading -->
    <div class="service d-g">
      <div class="service-image">
        <img
          src="https://www.creativesquad.ca/images/creatives/photography-1.png"
          alt="..."
        />
      </div>
      <div class="service-content">
        <h3 class="bold-text mb-3" id="heading-1">
          FASHION
          <span class="text-title-color">PHOTOGRAPHY</span>
        </h3>
        <p class="mb-4">
          Capture the essence of style with our fashion photography. Elevate
          your brand's image through expertly crafted visuals that showcase your
          designs in all their glory.
        </p>
        <a href="/become-client" class="get-started-btn-invert">Get Started</a>
      </div>
    </div>
    <!-- 2nd Heading -->
    <div class="service d-g">
      <div class="service-content">
        <h3 class="bold-text mb-3" id="heading-2">
          E-COMMERCE
          <span class="text-title-color">PHOTOGRAPHY</span>
        </h3>
        <p class="mb-4">
          Drive sales and engagement with our e-commerce photography. We craft
          visually stunning images that transform products into irresistible
          must-haves, captivating your customers and boosting conversions.
        </p>
        <a href="/become-client" class="get-started-btn-invert">Get Started</a>
      </div>
      <div class="service-image">
        <img
          src="https://www.creativesquad.ca/images/creatives/photography-2.png"
          alt="..."
        />
      </div>
    </div>
    <!-- 3rd Heading -->
    <div class="service d-g">
      <div class="service-image">
        <img
          src="https://www.creativesquad.ca/images/creatives/photography-3.png"
          alt="..."
        />
      </div>
      <div class="service-content">
        <h3 class="bold-text mb-3" id="heading-3">
          FOOD <br />
          <span class="text-title-color">PHOTOGRAPHY</span>
        </h3>
        <p class="mb-4">
          Savour the art of cuisine with our delectable food photography. From
          tantalising dishes to culinary creations, we capture the flavours that
          make your food irresistible.
        </p>
        <a href="/become-client" class="get-started-btn-invert">Get Started</a>
      </div>
    </div>
    <!-- 4th Heading -->
    <div class="service d-g">
      <div class="service-content">
        <h3 class="bold-text mb-3" id="heading-4">
          VIDEO ADS & <br />
          <span class="text-title-color">DIGITAL COMMERCIAL</span>
        </h3>
        <p class="mb-4">
          Transform concepts into captivating stories with our video ads and
          digital commercials. Engage your audience and leave a lasting impact
          with dynamic visuals and narratives.
        </p>
        <a href="/become-client" class="get-started-btn-invert">Get Started</a>
      </div>
      <div class="service-image">
        <img
          src="https://www.creativesquad.ca/images/creatives/photography-4.png"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="product-photography-container">
    <div class="product-photography-header text-center">
      <h5 class="bold-text text-white">
        HIGH-RESOLUTION <br />
        <span class="text-title-color">PRODUCT PHOTOGRAPHY</span>
      </h5>
    </div>
    <div class="product-photography-main d-g">
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_video.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">CORPORATE VIDEO</h5>
          <p class="text-white">
            Elevate your brand narrative with our corporate video services. From
            conceptualization to production, we craft compelling visuals that
            convey your message, values, and achievements, captivating your
            audience effortlessly.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_videocommercial.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">
            DIGITAL VIDEO COMMERCIAL
          </h5>
          <p class="text-white">
            Transform ideas into captivating narratives with our digital video
            commercials. Our dynamic visuals and strategic storytelling resonate
            with viewers, etching your brand deep in their memory.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_animation.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">VIDEO ANIMATION</h5>
          <p class="text-white">
            Ignite imagination through our vibrant video animation. From
            charismatic characters to mesmerising motion graphics, we craft
            visuals that breathe life into your message, making it truly
            unforgettable.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_explainer.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">EXPLAINER VIDEO</h5>
          <p class="text-white">
            Simplify complexities with our concise explainer videos. We distil
            intricate concepts into engaging visuals and succinct narratives,
            ensuring your audience comprehends and retains your message
            effortlessly.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_editing.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">VIDEO EDITING</h5>
          <p class="text-white">
            Refine and perfect your content with our expert video editing.
            Seamlessly weaving footage, transitions, and effects, we create a
            polished, immersive experience that captivates and resonates with
            your viewers.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img
            src="https://www.creativesquad.ca/images/creatives/photography_sound.png"
            alt="..."
          />
        </div>
        <div class="product-content">
          <h5 class="text-white bold-text mt-4 mb-3">ANALYTICAL INSIGHT</h5>
          <p class="text-white">
            We provide in-depth analytics and reporting to give you valuable
            insights into your email campaign performance. From open rates and
            click-through rates to conversion tracking, our analytics help you
            understand what needs improvement.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="FAQ-section">
    <div class="FAQ-heading">
      <h6 class="text-title-size bold-text text-center">
        FREQUENTLY ASKED
        <span class="text-title-color">QUESTIONS</span>
      </h6>
    </div>

    <div class="FAQs">
      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          What types of photography services do you offer?
          <span id="icon-1" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          We provide product photography, lifestyle shoots, corporate headshots,
          event coverage, and branding sessions tailored to your business needs.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          Do you provide editing and retouching with your photos?
          <span id="icon-2" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Yes, all our packages include professional editing and retouching to
          ensure high-quality, polished images ready for print or digital use.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          Can you handle large-scale product photography for e-commerce?
          <span id="icon-3" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Absolutely. We specialize in bulk product photography, ensuring
          consistency in lighting, angles, and style to match your brand’s
          online store.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          Do you offer on-location photography or only studio shoots?
          <span id="icon-4" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          We offer both. Depending on your project, we can shoot in our studio
          for controlled lighting or on-site for natural and authentic
          environments.
        </div>
      </div>

      <div class="FAQ-item">
        <button class="FAQ-question d-f">
          How long does it take to deliver the final photos?
          <span id="icon-5" class="FAQ-icon text-title-color">+</span>
        </button>
        <div class="FAQ-answer">
          Delivery timelines vary by project, but typically edited photos are
          ready within 5–10 business days after the shoot.
        </div>
      </div>
    </div>

    <div class="connect-prompt">
      <img
        src="https://www.creativesquad.ca/images/faqs_people.png"
        alt="..."
      />
      <p class="bold-text">Still have questions?</p>
      <p>
        Can’t find the answer you’re looking for?<br />
        Let’s Connect.
      </p>
    </div>
  </div>

  <div class="contact-section d-g text-white">
    <div class="idea-prompt d-f">
      <p style="margin-left: 5px">Let's Talk</p>
      <h6 class="text-title-size">
        Got An Idea?<br />
        <span class="bold-text">Let's get in touch!</span>
      </h6>
      <br />
      <p>
        Let's discuss your project and find out what we can do to provide value.
      </p>
    </div>
    <div class="submit-form d-f">
      <h6>Enter your details to get started.</h6>
      <form class="form" action="/">
        <input type="text" placeholder="Your Full Name" required />
        <input
          type="text"
          pattern="[\d\s\(\)]*"
          placeholder="Your Phone Number"
          required
        />
        <input type="email" placeholder="Your Email Address" required />
        <input type="text" placeholder="Enter Project Type" required />

        <div id="spinner-overlay" style="z-index: 9999">
          <div
            class="spinner-border spinner spinner-border-sm"
            role="status"
            style="display: none; margin: 0 0 15px 47px"
          ></div>
        </div>
        <button class="submit-btn bold-text">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/Javascripts/PRODUCTION SERVICES/production-services-js/services.js"></script>
<script src="/Javascripts/PRODUCTION SERVICES/production-services-js/FAQ.js"></script>
<script src="/Javascripts/PRODUCTION SERVICES/production-services-js/contact.js"></script>
