@import url("/stylesheet/utils/utils.css");

.production-service__header,
.header {
  background: linear-gradient(90deg, #1b1b1b, #454545);
}

.production-service__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--size-8xl) 0 var(--size-9_5xl) 0;
  height: auto;
  color: white;
}

.production-service__header h1 {
  font-size: var(--size-1_75xl);
  line-height: 1.1;

  & span {
    color: var(--light-clr-accent);
  }
}

.production-service__header p {
  font-size: var(--size-lg);
  margin: var(--size-sm) 0 var(--size-3xl) 0;
}

#contact-btn {
  padding: var(--size-2xs) var(--size-4xl);
  background-color: var(--normal-clr-accent);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--size-sm);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--hover-clr-accent);
  }
}

.production-service__header .col {
  max-width: 90%;
  margin: 0 auto;

  & img {
    display: none;
  }
}

.production-service-swiper {
  border: none;
  border-radius: var(--size-2xl);
  background-color: #fff;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.3);
  padding: var(--size-xl) 0;
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 10;
  cursor: pointer;
  margin-top: -4.5rem;
  margin-bottom: var(--size-6xl);
}

.production-service-swiper .swiper-slide {
  text-align: center;
}

.production-service-swiper img {
  max-width: 185px;
  height: auto;
}

.design-services {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: var(--size-6xl);
}

.design-services h3 {
  font-size: var(--size-1_75xl);
  text-transform: uppercase;
  font-weight: 600;

  & span {
    color: var(--normal-clr-accent);
  }
}

.design-services p {
  font-size: var(--size-sm);
  margin: var(--size-md) auto var(--size-4xl) auto;
  max-width: 60ch;
}

.design-services__swiper img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.photography-services {
  max-width: 90%;
  margin: 0 auto;
}

.photography-service {
  margin-bottom: var(--size-5xl);
}

.photography-service__main-image {
  & img {
    max-width: 100%;
    height: auto;
  }
}

.photography-service__content {
  & h4 {
    font-weight: 600;
    font-size: var(--size-lg);
    position: relative;
    line-height: 1.2;
    padding-left: var(--size-5xl);
    text-transform: uppercase;
    margin-top: var(--size-3xl);

    & span {
      color: var(--normal-clr-accent);
    }
  }

  & #heading-1::before,
  & #heading-2::before,
  & #heading-3::before,
  & #heading-4::before {
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    left: 0;
    top: 50%;
    transform: translateY(-45%);
    font-size: var(--size-5xl);
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px #000;
    color: white;
    font-weight: 600;
    margin-right: 8px;
  }

  & #heading-1::before {
    content: "01";
  }

  & #heading-2::before {
    content: "02";
  }

  & #heading-3::before {
    content: "03";
  }

  & #heading-4::before {
    content: "04";
  }

  & p {
    font-size: var(--size-sm);
    margin: var(--size-lg) 0 var(--size-3xl) 0;
  }

  & a {
    padding: var(--size-2xs) var(--size-4xl);
    background-color: white;
    border: 2px solid var(--normal-clr-accent);
    color: var(--normal-clr-accent);
    border-radius: 4px;
    font-weight: 500;
    font-size: var(--size-sm);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--normal-clr-accent);
    }
  }
}

.product-insights {
  padding: var(--size-7_5xl) 0;
  width: 100%;
  background-color: #1f1f1f;
  text-align: center;
}

.product-insights h3 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: var(--size-1_75xl);
  margin-bottom: var(--size-4xl);

  & span {
    color: var(--normal-clr-accent);
  }
}

.product-insights .col {
  max-width: 92%;
  margin: 0 auto;
}

.product-insight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: var(--size-xl);
  padding: var(--size-3xl);
  border-radius: var(--size-xs);
  border: 1px solid #828282;
  background-color: #3e3e3e;
  margin-bottom: var(--size-2xl);

  & h6 {
    font-size: var(--size-md);
    text-transform: uppercase;
    margin-top: var(--size-4xs);
    margin-bottom: 0;
    font-weight: 600;
  }

  & p {
    font-size: var(--size-sm);
  }

  & span {
    width: 90px;
    height: 90px;
    padding: var(--size-2_5xl);
    background-color: #636363;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & img {
    width: 30px;
    height: auto;
    vertical-align: middle;
  }
}

.faqs-container {
  padding: var(--size-7xl) 0 var(--size-4xl) 0;
}

/* >= 356px */
@media (min-width: 356px) {
  .production-service__header h1 {
    font-size: var(--size-2_5xl);
  }

  .photography-service__content {
    & h4 {
      font-size: var(--size-xl);
    }

    & p {
      font-size: var(--size-md);
      margin: var(--size-lg) 0 var(--size-3xl) 0;
    }
  }
}

/* >= 400px */
@media (min-width: 400px) {
  .photography-service__content {
    & h4 {
      font-size: var(--size-1_5xl);
    }
  }
}

/* >= 475px */
@media (min-width: 475px) {
  .production-service__header h1 {
    font-size: var(--size-3_5xl);
  }

  .production-service__header p {
    font-size: var(--size-xl);
    margin: var(--size-lg) 0 var(--size-4_5xl) 0;
  }

  .design-services h3 {
    font-size: var(--size-2xl);
  }

  #contact-btn {
    padding: var(--size-xs) var(--size-4xl);
    font-size: var(--size-md);
  }

  .production-service-swiper img {
    max-width: 75%;
  }

  .product-insights h3 {
    font-size: var(--size-2_5xl);
  }

  .product-insight img {
    width: 38px;
  }
}

/* >= 576px */
@media (min-width: 576px) {
  .production-service__header h1 {
    font-size: var(--size-4xl);
  }

  .production-service-swiper img {
    max-width: 185px;
  }

  .photography-service {
    margin-bottom: var(--size-6xl);
  }

  .photography-service__main-image {
    display: flex;
    margin: 0 auto;

    & img {
      margin: 0 auto;
      max-width: 350px;
    }
  }

  .production-service__header .col,
  .production-service-swiper,
  .design-services,
  .photography-services,
  .product-insights .col {
    max-width: 520px;
  }
}

/* >= 768px */
@media (min-width: 768px) {
  .production-service__header h1 {
    font-size: var(--size-4_5xl);
  }

  .production-service__header p {
    margin: var(--size-xl) 0 var(--size-5xl) 0;
  }

  .design-services h3 {
    font-size: var(--size-4xl);
  }

  #contact-btn {
    padding: var(--size-xs) var(--size-5xl);
  }

  .production-service-swiper {
    max-width: 625px;
  }

  .photography-service__main-image img {
    max-width: 500px;
  }

  .photography-service {
    & h4 {
      padding-left: var(--size-6xl);
    }

    & #heading-1::before,
    & #heading-2::before,
    & #heading-3::before,
    & #heading-4::before {
      font-size: var(--size-6xl);
    }
  }

  .product-insights h3 {
    font-size: var(--size-4_5xl);
    margin-bottom: var(--size-5xl);
  }

  .product-insight {
    margin-bottom: var(--size-4xl);

    & h6 {
      font-size: var(--size-xl);
    }

    & p {
      font-size: var(--size-sm);
    }
  }

  .production-service__header .col,
  .design-services,
  .photography-services,
  .product-insights .col {
    max-width: 720px;
  }
}

/* >= 1024px */
@media (min-width: 1024px) {
  .production-service__header {
    padding: var(--size-6xl) 0 var(--size-9_5xl) 0;
  }

  .production-service-swiper img {
    max-width: 75%;
  }

  .production-service-swiper {
    padding: var(--size-4_5xl) var(--size-xl);
    max-width: 75%;
  }

  .product-insights .col:last-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-2xl);
  }

  .product-insight {
    margin-bottom: 0;
  }

  .design-services,
  .photography-services,
  .product-insights .col {
    max-width: 900px;
  }

  .design-services p {
    margin-bottom: var(--size-4_5xl);
  }

  .photography-service {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-7xl);
    gap: var(--size-3xl);

    & h4 {
      font-size: var(--size-2xl);
    }

    &.odd {
      & .photography-service__main-image {
        order: 1;
      }

      & .photography-service__content {
        order: 2;
      }
    }

    &.even {
      & .photography-service__main-image {
        order: 2;
      }

      & .photography-service__content {
        order: 1;
      }
    }

    & p {
      margin: var(--size-3xl) 0 var(--size-3xl) 0;
    }
  }

  .column-container {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }

  .production-service__header .col {
    width: 80%;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

/* >= 1200px */
@media (min-width: 1200px) {
  .column-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1140px;
  }

  .photography-services {
    max-width: 1000px;
  }

  .product-insights .col {
    max-width: 1100px;
  }

  .product-insights .col:last-of-type {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-2_5xl) var(--size-3_5xl);
  }

  .photography-service {
    gap: var(--size-5xl);
  }

  .design-services {
    max-width: 1100px;
  }

  .production-service__header .col {
    width: 80%;
  }
}

/* >= 1400px */
@media (min-width: 1400px) {
  .column-container,
  .production-service-swiper,
  .design-services,
  .photography-services,
  .product-insights .col {
    max-width: 1250px;
  }

  .photography-service .photography-service__content,
  .photography-service .photography-service__main-image {
    max-width: 40%;
    margin: 0 auto;
  }

  .column-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .production-service-swiper {
    margin-bottom: var(--size-7xl);
  }

  .production-service-swiper img {
    max-width: 185px;
  }

  .production-service__header .col {
    width: 80%;

    & img {
      max-width: 525px;
    }
  }
}
