body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 23px 0 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
}
h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 49px;
  margin: 0;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  gap: 5px;
  margin-bottom: 10px;
}
