@import url("/stylesheet/utils/utils.css");

/* [class*="section-"] {
} */

.hero {
  & .hero__video {
    position: absolute;
    width: 100vw;
    top: -3.37rem;
    height: var(--size-18xl);
    z-index: -10;
  }

  & .hero__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    & .hero__title,
    .hero__subtitle {
      color: white;
      font-weight: 900;
      text-align: center;
      max-width: 40ch;
      text-transform: uppercase;
      letter-spacing: var(--size-4xs);
      font-family: var(--mulish-font);

      & span {
        color: var(--normal-clr-accent);
      }
    }

    & .hero__title {
      font-size: var(--size-4xl);
      padding: var(--size-base) 0 var(--size-2xl) 0;
    }

    & .hero__subtitle {
      font-size: var(--size-base);
      letter-spacing: var(--size-3xs);
      font-weight: 800;
    }
  }
}

.section-2 {
  background-image: linear-gradient(to top, #fae6e6, white);
}

.testimonials-cards-container {
  margin-top: var(--size-8xl);

  & .card__video iframe {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  & .card {
    border: none;
    border-radius: 15px;
    max-width: 90vw;
    margin: auto;
    box-shadow: var(--card-shadow);
    margin-bottom: var(--size-2xl);
    padding-bottom: var(--size-xl);

    & .card__content {
      margin: auto;
      text-align: center;

      & .card__stars {
        margin: var(--size-3xl) 0 var(--size-base) 0;
      }

      & .card__title {
        text-transform: uppercase;
        font-size: var(--size-base);
        font-weight: 600;
        letter-spacing: 1px;
      }

      & .card__description {
        font-size: var(--size-sm);
        color: var(--muted-clr-accent);
        margin: var(--size-sm) 0;
      }

      & .card__link {
        color: red;
        font-size: var(--size-sm);

        & span {
          width: 18px;
          height: 15px;
          fill: var(--normal-clr-accent);
          border-radius: 50%;
          border: 2px solid var(--normal-clr-accent);
          margin-left: var(--size-2_5xs);
          padding: 1px;
          padding-bottom: 0.18em;
          cursor: pointer;
          transition: 0.3s ease;

          &:hover {
            fill: white;
            background: var(--normal-clr-accent);
          }
        }
      }
    }
  }
}

.providing-results-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: var(--size-7xl);
  margin: auto;

  & header {
    max-width: 90vw;
    margin: auto;

    & .title {
      font-weight: 600;
      text-transform: uppercase;

      & span {
        color: var(--normal-clr-accent);
      }
    }

    & .description {
      margin-top: var(--size-2xl);
    }
  }

  & .results-cards {
    & .card {
      border: none;
      border-radius: 10px;
      max-width: 90vw;
      margin: auto;
      margin-top: var(--size-4xl);
      box-shadow: var(--card-shadow);
      padding: var(--size-xl) var(--size-2xl);

      & .card__image {
        margin-bottom: var(--size-4xl);
        background-color: #e9e9e9;
        border-radius: 5px;
        padding: var(--size-base);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 60px;

        & img {
          width: var(--size-2xl);
          height: var(--size-2xl);
        }
      }

      & .card__content {
        & h3 {
          text-transform: uppercase;
          font-size: var(--size-lg);
          font-weight: 600;
        }

        & p {
          font-size: var(--size-sm);
          margin-top: var(--size-base);
          color: var(--muted-clr-accent);
        }
      }
    }
  }
}

/* Swiper */

.swiper {
  width: 100vw;
  height: var(--size-10xl);

  & .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }

  & .swiper__image {
    max-width: var(--size-9xl);
    max-height: var(--size-9xl);
  }
}

/* xs */
@media (min-width: 475px) {
  .hero {
    & .hero__video {
      height: var(--size-17xl);
    }
  }
}

/* xs-sm */
@media (min-width: 576px) {
  .providing-results-container {
    & header,
    .results-cards .card {
      max-width: 556px;
    }
  }

  .testimonials-cards-container {
    & .card {
      max-width: 556px;
    }
  }
}

/* sm */
@media (min-width: 640px) {
  .hero {
    & .hero__video {
      top: -3.8rem;
    }
  }
}

/* md */
@media (min-width: 768px) {
  .hero {
    & .hero__video {
      height: 100vh;
    }

    & .hero__content {
      & .hero__title {
        font-size: var(--size-5_6xl);
        padding: var(--size-7xl) 0 var(--size-2xl) 0;
      }

      & .hero__subtitle {
        font-size: var(--size-xl);
        letter-spacing: var(--size-3xs);
      }
    }

    & .swiper {
      & .swiper-slide {
        & .swiper__image {
          max-width: var(--size-8xl);
          max-height: var(--size-8xl);
        }
      }
    }
  }

  .providing-results-container {
    & header,
    .results-cards .card {
      max-width: 700px;
    }

    & header {
      & .title {
        font-size: var(--size-4xl);
      }
    }

    & .results-cards {
      & .card {
        & .card__content {
          & h3 {
            font-size: var(--size-2xl);
          }
        }
      }
    }
  }

  .testimonials-cards-container {
    & .card {
      max-width: 700px;

      & .card__content {
        & .card__title {
          font-size: var(--size-xl);
        }
      }
    }
  }
}

/* lg */
@media (min-width: 1024px) {
  .providing-results-container {
    grid-template-columns: repeat(2, 1fr);

    & header {
      position: sticky;
      top: var(--size-2xl);
    }

    & header,
    .results-cards .card {
      max-width: var(--size-19xl);
      padding: var(--size-2xl) var(--size-3xl);
    }
  }

  .testimonials-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: var(--size-9xl);

    & .card {
      width: 450px;
    }
  }
}

/* xl */
@media (min-width: 1260px) {
  .hero {
    & .hero__video {
      top: -4.54rem;
      height: 100vh;
    }

    & .hero__content {
      & .hero__title {
        font-size: var(--size-7_5xl);
        padding: var(--size-6xl) 0 var(--size-3xl) 0;
      }

      & .hero__subtitle {
        font-size: var(--size-xl);
        letter-spacing: var(--size-3xs);
        max-width: 100%;
      }
    }

    & .swiper {
      padding-top: var(--size-5xl);

      & .swiper-slide {
        & .swiper__image {
          max-width: var(--size-9xl);
          max-height: var(--size-9xl);
        }
      }
    }
  }

  .providing-results-container {
    max-width: 1300px;

    & header,
    .results-cards .card {
      max-width: var(--size-23xl);
    }
  }

  .testimonials-cards-container {
    max-width: 1300px;
    margin: auto;

    & .card {
      width: 350px;
    }
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
